<div class="about_container_content">
  <div class="about_container_content_project">
    <div class="about_container_content_project_header">
      {{about_title}}
    </div>

    <div class="about_container_content_project_text">
                <span>
                    {{about_text}}
                </span>
      <!--<span>-->
                    <!--Этот проект беспрецедентная альтернатива традиционным фудкортам, место где гурманы найдут новые-->
                    <!--интересные сочетания вкусов, а туристы утолят голод в любопытство, открывая для себя новую Москву.-->
                <!--</span>-->
    </div>

  </div>
</div>
