<div class="about_container_content">
  <div class="about_container_content_project">
    <div class="about_container_content_project_header">
      30 ресторанов и кафе Аркадия Новикова, Бориса Зарькова и Владимира Мухина.
    </div>

    <div class="about_container_content_project_text">
                <span>
                    Гастромаркет Вокруг Света - это микс национальных культур, мнопродуктовых концепций, идей, вкусов,
                    актуальных трендов с использованием сезонных и локальных продуктов от лучших шефов Москвы и мира.
                </span>
      <span>
                    Этот проект беспрецедентная альтернатива традиционным фудкортам, место где гурманы найдут новые
                    интересные сочетания вкусов, а туристы утолят голод в любопытство, открывая для себя новую Москву.
                </span>
    </div>

  </div>
</div>
