@import "../sass/sass/_variables";
@import "../sass/sass/_svg-sprite";
@import "../sass/sass/_png-sprite";

@mixin calendar_black {
<<<<<<< HEAD
  @include sp__calendar_black;
=======
    @include sp__calendar_black;
>>>>>>> f268d723fba79ff2c08cd0c90f9f660b850856f7
}
%calendar_black {
  @include calendar_black;
}
@mixin calendar {
  @include sp__calendar;
}
%calendar {
  @include calendar;
}

.stocks-menu-tabs-all {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  background-color: #FFFFFF;

  @media screen and (max-width: 1024px) {
    padding: 10px 20px;
  }

  &_tabs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: $font_condensed;
    font-size: 16px;
    line-height: 18px;
    font-weight: 100;
    @media screen and (max-width: 1024px) {
      font-size: 14px;
      line-height: 20px
    }

    &_item {
      margin-right: 44px;
      text-transform: uppercase;
      padding: 25px 0;
      cursor: pointer;

      @media screen and (max-width: 1024px) {
        padding: 0;
        margin-right: 10px;
      }

      &:last-child {
        margin-right: 0;
      }

      &_dropdown {
        display: flex;
        flex-direction: row;
        align-items: center;
      }

    }
    .active {
      color: #A67B2C;
      border-bottom: 3px solid #DAC69C;
    }
  }

  &_calendar {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    height: 42px;
    width: 138px;
    font-family: $font_ubuntu;
    border-radius: 2px;
    background-color: #4D4239;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;

    @media screen and (max-width: 1024px) {
      background-color: transparent;
      box-shadow: none;
      width: auto;
      height: auto;
      padding: 10px;

      span {
        display: none;
      }
    }

    &_icon {
      @extend %sprite;
      background-position: -28px -210px;
      width: 16px;
      height: 18px;
      //@include sp__calendar;
      margin-right: 16px;
      //@extend %calendar_black;
      @media screen and (max-width: 1024px) {
        background-position: -49px -210px;
        width: 16px;
        height: 18px;
<<<<<<< HEAD
      }
=======
    }
>>>>>>> f268d723fba79ff2c08cd0c90f9f660b850856f7


    }
  }

}

.calendar_widget {
  position: absolute;
  top: 0;
  width: 387px;
}
<<<<<<< HEAD
=======


>>>>>>> f268d723fba79ff2c08cd0c90f9f660b850856f7
