<div class="stocks-menu-tabs-all">
  <div class="stocks-menu-tabs-all_tabs">
    <div (click)="chooseMenu('all')" [class.active]="type_menu['all']" class="stocks-menu-tabs-all_tabs_item">Все</div>
    <div (click)="chooseMenu('stocks')" [class.active]="type_menu['stocks']" class="stocks-menu-tabs-all_tabs_item">%Акции</div>
    <div (click)="chooseMenu('events')" [class.active]="type_menu['events']" class="stocks-menu-tabs-all_tabs_item">События</div>
    <div (click)="chooseMenu('reports')" [class.active]="type_menu['reports']" class="stocks-menu-tabs-all_tabs_item">Отчеты</div>
    <div (click)="chooseMenu('news')" [class.active]="type_menu['news']" class="stocks-menu-tabs-all_tabs_item">Новости</div>
  </div>
  <div class="stocks-menu-tabs-all_calendar">
    <div class="stocks-menu-tabs-all_calendar_icon"></div>
    <span>Календарь</span>
    <dp-day-calendar #dayPicker *ngIf="hide_calendar" theme="calendar_widget">
    </dp-day-calendar>
  </div>
</div>