<div class="main">
  <div class="header_about">
    <div class="header_about_back">
      <div class="header_about_back_arrow"></div>
      <div class="header_about_back_text">Вернутся к списку ресторанов</div>
    </div>
    <div class="header_about_title">
      <div class="header_about_title_text">Burger Factory</div>
      <div class="header_about_title_instatags">
        <div class="header_about_title_instatags_icon"></div>
        <div class="header_about_title_instatags_tag"></div>

      </div>
    </div>
  </div>
</div>