.wrapper {
  background-color: #F8F5F5;
  padding-bottom: 55px;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  .banner {
    padding: 0 40px;
    position: relative;
    @media screen and (max-width: 1023px) {
      padding: 0;
      width: 100%;
      min-height: 335px;
    }
    &_text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-family: $font_condensed;
      font-size: 70px;
      line-height: 70px;
      color: #ffffff;
      white-space: nowrap;
      @media screen and (max-width: 1023px) {
        font-size: 24px;
        font-weight: 500;
        line-height: 30px;
        text-align: center;
        max-width: 170px;
        white-space: normal;
      }
    }
    img {
      max-width: 1200px;
      width: 100%;
      @media screen and (max-width: 1023px) {
        min-height: 335px;
      }
    }
  }
  .events_column {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 40px;
    max-width: 1200px;
    flex-wrap: wrap;
    @media screen and (max-width: 1023px) {
      padding: 0;
      width: 100%;
    }
    &_text {
      background-color: #FFFFFF;
      padding: 53px 50px 44px;
      font-family: $font_ubuntu;
      max-width: 669px;
      @media screen and (max-width: 1023px) {
        padding: 20px;
        width: calc(100% - 40px);
      }
      &_collage {
        display: flex;
        flex-direction: row;
        margin-top: 30px;
        @media screen and (max-width: 1023px) {
          width: 100%;
          height: auto;
        }
        &_item {
          margin-right: 13px;
          @media screen and (max-width: 1023px) {
            margin-right: 5px;
            &:first-child {
              width: 56.5%;
              height: 100%;
              img {
                width: 100%;
                height: 100%;
              }
            }
            &:nth-child(2) {
              width: 25%;
              height: 100%;
              img {
                width: 100%;
                height: 100%;
              }
            }
          }
          &:last-child {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-right: 13px;
            @media screen and (max-width: 1023px) {
              margin-right: 0;
              width: 12.2%;
              height: 100%;
              img {
                width: 100%;
                height: 100%;
                &:first-child {
                  margin-bottom: 5px;
                }
              }
            }
          }
        }
      }
      span {
        color: #7F7873;
        font-size: 16px;
        line-height: 24px;
        @media screen and (max-width: 1023px) {
          font-size: 13px;
          line-height: 20px;
          &:nth-child(4) {
            display: none;
          }
        }
      }
      &_title {
        color: #231F20;
        font-size: 18px;
        font-weight: bold;
        line-height: 21px;
        padding: 30px 0 20px;
        @media screen and (max-width: 1023px) {
          display: none;
        }
      }
    }
    .content_events {
      margin: 30px 0 0 33px;
      width: 398px;
      @media screen and (max-width: 1023px) {
        margin: 30px auto 0;
        padding: 0 20px;
        width: calc(100% - 40px);
        max-width: 380px;
      }
      &_title {
        text-transform: uppercase;
        font-family: $font_ubuntu;
        font-size: 24px;
        @media screen and (max-width: 1023px) {
          font-size: 20px;
          line-height: 20px;
          font-family: $font_condensed;
        }
      }
      &_items {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 380px;
        @media screen and (max-width: 1023px) {
          width: 100%;
          max-width: 380px;
        }
        &_item {
          border: 1px solid #E6E3E1;
          background-color: #FFFFFF;
          margin: 20px 0 0;
          cursor: pointer;
          &_img {
            @media screen and (max-width: 1023px) {
              width: 100%;
            }
            img {
              width: 380px;
              @media screen and (max-width: 1023px) {
                width: 100%;
              }
            }
          }

          &_content {
            font-family: $font_ubuntu;
            padding: 15px 20px 10px;
            &_name {
              color: #231F20;
              font-size: 18px;
              line-height: 21px;
              @media screen and (max-width: 1023px) {
                font-size: 16px;
                line-height: 16px;
              }
            }
            &_date {
              color: #A67B2C;
              font-size: 16px;
              font-weight: 500;
              line-height: 16px;
              @media screen and (max-width: 1023px) {
                font-size: 11px;
                line-height: 11px;
                font-weight: normal;
                margin-top: 5px;
              }
            }
            &_text {
              color: #7F7873;
              font-size: 16px;
              line-height: 24px;
              padding: 10px 0;
              @media screen and (max-width: 1023px) {
                font-size: 13px;
                line-height: 20px;
                font-weight: normal;
              }
            }
            &_time {
              color: #867F7B;
              font-size: 13px;
              line-height: 13px;
              padding: 4px 7px;;
              border-radius: 2px;
              background-color: #F7F6F2;
              display: inline-block;
              box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
              margin-bottom: 10px;
              @media screen and (max-width: 1023px) {
                text-transform: uppercase;
                font-size: 11px;
                line-height: 11px;
              }
            }
            &-kitchen {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              color: #7F7873;
              font-size: 13px;
              line-height: 13px;
              padding: 10px 133px 20px 20px;
              align-items: center;
              &_item {

              }
            }
          }
        }
      }
    }
  }
}