

.wrapper {

  .event {
    padding: 0;
    width: 100%;
    height: 490px;

    img {
      width: 100%;
      max-width: 1280px;
    }
  }

  .events_list {
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #F8F5F5;
    padding: 30px 40px 30px;

    .content_events {
      padding: 30px 0 0 33px;
      &_title {
        text-transform: uppercase;
        font-family: $font_ubuntu;
        font-size: 24px;
      }

      &_items {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
      }

    }
    .slider {
      padding: 0;
      position: relative;
      height: 200px;
      width: 100%;
      margin: 20px 0 40px;
      .owl-carousel {
        .owl-nav {
          position: absolute;
          top: 50%;
          width: 100%;
          transform: translateY(-50%);
          background: none;

          .owl-prev {
            background: url(../images/array.png) no-repeat;
            display: inline-block;
            float: left;
            //background: none;
            width: 13px;
            height: 22px;
          }

          .owl-next {
            display: inline-block;
            float: right;
            background: url(../images/array.png) no-repeat;
            width: 13px;
            height: 22px;
            transform: rotate(180deg);
            -webkit-transform: rotate(180deg);

          }
        }
        .item {
          height: 200px;

          img {
            height: 200px;
          }
        }
      }
    }
  }
  .events_show-more {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 348px;
    border-radius: 2px;
    background-color: #4D4239;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    color: #FFFFFF;
    font-family: $font_ubuntu;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    cursor: pointer;

  }
}