.slider_wraper{
  background-color: #E7E3E1;
  padding: 30px 50px;
  @media screen and (max-width: 768px) {
    display: none;
  }
  .slider {
    position: relative;
    .owl-carousel {
      .owl-nav {
        position: absolute;
        top: 50%;
        width: 100%;
        transform: translateY(-50%);
        .owl-prev {
          background: url(/../images/array.png) no-repeat;
          display: inline-block;
          float: left;
          width: 13px;
          height: 22px;
        }
        .owl-next {
          background: url(/../images/array.png) no-repeat;
          display: inline-block;
          float: right;
          transform: rotate(180deg);
          -webkit-transform: rotate(180deg);
          width: 13px;
          height: 22px;
          margin-right: 10px;
        }
      }
    }
    .item {
      width: 280px;
      height: 140px;
      position: relative;
      &_text {
          font-family: $font_ubuntu;
          font-size: 18px;
          font-weight: 500;
          line-height: 21px;
          text-align: center;
          position: absolute;
          color: #FFFFFF;
          top: 50%;
          left: 50%;
          width: 100%;
          transform: translate(-50%, -50%);
      }
    }
  }
}