$font_ubuntu: Ubuntu, sans-serif;
$font_underground: P22 Underground CY Pro;
$font_condensed: 'Ubuntu Condensed', sans-serif;;

//@font-face {
//  font-family: 'Ubuntu Light';
//  src: url('../../fonts/Ubuntu/UbuntuLight.ttf') format('truetype');
//  font-weight: 300;
//  font-style: normal;
//  font-stretch: normal;
//  unicode-range: U+0020-2074;
//}
//
//@font-face {
//  font-family: 'Ubuntu Light';
//  src: url('../../fonts/Ubuntu/UbuntuLightItalic.ttf') format('truetype');
//  font-weight: 300;
//  font-style: italic;
//  font-stretch: normal;
//  unicode-range: U+0020-2212;
//}
//
//@font-face {
//  font-family:'Ubuntu Medium';
//  src: url('../../fonts/Ubuntu/UbuntuMedium.ttf') format('truetype');
//  font-weight: 500;
//  font-style: normal;
//  font-stretch: normal;
//  unicode-range: U+0020-2074;
//}
//
//@font-face {
//  font-family:'Ubuntu Medium';
//  src: url('../../fonts/Ubuntu/UbuntuMediumItalic.ttf') format('truetype');
//  font-weight: 500;
//  font-style: italic;
//  font-stretch: normal;
//  unicode-range: U+0020-2074;
//}
//
//@font-face {
//  font-family:'Ubuntu';
//  src: url('../../fonts/Ubuntu/UbuntuBold.ttf') format('truetype');
//  font-weight: 700;
//  font-style: normal;
//  font-stretch: normal;
//  unicode-range: U+0020-2074;
//}
//
//@font-face {
//  font-family:'Ubuntu';
//  src: url('../../fonts/Ubuntu/UbuntuBoldItalic.ttf') format('truetype');
//  font-weight: 700;
//  font-style: italic;
//  font-stretch: normal;
//  unicode-range: U+0020-2074;
//}
//
//@font-face {
//  font-family:'Ubuntu';
//  src: url('../../fonts/Ubuntu/UbuntuItalic.ttf') format('truetype');
//  font-weight: 400;
//  font-style: italic;
//  font-stretch: normal;
//  unicode-range: U+0020-2074;
//}
//
//@font-face {
//  font-family:'Ubuntu';
//  src: url('../../fonts/Ubuntu/UbuntuRegular.ttf') format('truetype');
//  font-weight: 400;
//  font-style: normal;
//  font-stretch: normal;
//  unicode-range: U+0020-2074;
//}
//
////@font-face {
////  font-family:'UbuntuCondensed';
////  src: url('../../fonts/UbuntuCondensed/UbuntuCondensed.ttf') format('truetype');
////  font-weight: 400;
////  font-style: normal;
////  font-stretch: normal;
////  unicode-range: U+0020-2074;
////}
//
//@font-face {
//  font-family: 'UbuntuCondensed';
//  src: url(../../fonts/UbuntuCondensed/UbuntuCondensed.ttf);
//}