<div class="main">
  <header class="header">
    <div class="header_adress">
      <div class="header_adress_name">
        <div class="header_adress_name_location"></div>
        <a  fragment="map" (click)="goToMap()"><span>ул. Никольская 10</span></a>
      </div>
      <div class="header_adress_time">
        <div class="header_adress_time_logo"></div>
        <span>8:00 - 23:00</span>
      </div>
      <div class="header_adress_time">
        <a href="tel.: +74959677777"><span>+74959677777</span></a>
      </div>
      <!--<div class="header_adress_language" (click)="selectLanguage()" [class.active]="show_language">-->
        <!--<ul>-->
          <!--<li><img src="app/sass/images/language.png"></li>-->
          <!--<ul [hidden]="!show_language">-->
            <!--<li ><img src="app/sass/images/ch.png"></li>-->
            <!--<li ><img src="app/sass/images/uk.png"></li>-->
          <!--</ul>-->

        <!--</ul>-->
        <!--&lt;!&ndash;<div class="header_adress_language_active">&ndash;&gt;-->
          <!--&lt;!&ndash;<div class="header_adress_language_active_lang-icon">&ndash;&gt;-->
            <!--&lt;!&ndash;<img src="app/sass/images/language.png">&ndash;&gt;-->
          <!--&lt;!&ndash;</div>&ndash;&gt;-->
          <!--&lt;!&ndash;<div class="header_adress_language_active_arrow"></div>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="header_adress_language_list">&ndash;&gt;-->
          <!--&lt;!&ndash;<div class="header_adress_language_list_item">&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="header_adress_language_list_item_lang-icon">&ndash;&gt;-->
              <!--&lt;!&ndash;<img src="app/sass/images/language.png">&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--<div class="header_adress_language_triangle"></div>-->
          <!--&lt;!&ndash;</div>&ndash;&gt;-->
          <!--&lt;!&ndash;<div class="header_adress_language_list_item">&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="header_adress_language_list_item_lang-icon">&ndash;&gt;-->
              <!--&lt;!&ndash;<img src="app/sass/images/language.png">&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
          <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--</div>-->
    </div>
    <div class="header_tabs">
      <div class="header_tabs_search">
        <div class="header_tabs_search_logo"></div>
        <input (click)="openSearch()" (mouseout)="closeSearch()" [class.active_search]="open_search" type="search" placeholder="Поиск"/>
      </div>
      <div class="header_tabs_login">
        <div class="header_tabs_login_logo"></div>
        <!--<a routerLink="/login"><span>Вход</span></a>-->
        <a (click)="ShowLoginForm()"><span>Вход</span></a>
      </div>
      <div class="header_tabs_bucket">
        <div class="header_tabs_bucket_logo"></div>
        <a *ngIf="headerService.login" routerLink="/bucket"><span>Корзина</span></a>
      </div>
    </div>
  </header>
  <header class="header-mobile">
    <div class="header-mobile_burger" (click)="showMenu()">
      <div class="header-mobile_burger_icon"></div>
    </div>
    <a routerLink="/"><div class="header-mobile_logo"></div></a>
    <div class="header-mobile_bucket">
      <div class="header-mobile_bucket_icon"></div>
    </div>
  </header>
  <div class="menu-tabs">
    <div class="menu-tabs_menu">
      <div class="menu-tabs_menu_item">
        <a routerLink="/corners"><span>Корнеры</span></a>
      </div>
      <div class="menu-tabs_menu_item">
        <a routerLink="/events"><span>События</span></a>
      </div>
      <div class="menu-tabs_menu_item">
        <a routerLink="/about"><span>О проекте</span></a>
      </div>
      <div class="menu-tabs_menu_item">
        <a routerLink="/contacts"><span>Контакты</span></a>
      </div>
    </div>
    <a routerLink="/"><div class="menu-tabs_logo"></div></a>
    <div class="menu-tabs_addit">
      <div class="menu-tabs_addit_delivery">
        <div class="menu-tabs_addit_delivery_item">
          <span>Бонусы</span>
        </div>
        <div class="menu-tabs_addit_delivery_item">
          <a routerLink="/delivery"><span>Доставка</span></a>
        </div>
        <!--<div class="menu-tabs_addit_delivery_item">-->
          <!--<span>Кейтеринг</span>-->
        <!--</div>-->
      </div>
      <div class="menu-tabs_addit_socials">
        <a href="https://www.facebook.com/vokrugsvetamarket/" target="_blank"><div class="menu-tabs_addit_socials_item facebook"></div></a>
        <a href="https://www.instagram.com/vokrugsvetamarket/" target="_blank"><div class="menu-tabs_addit_socials_item instagram"></div></a>
        <!--<div class="menu-tabs_addit_socials_item pinterest"></div>-->
        <!--<div class="menu-tabs_addit_socials_item twitter"></div>-->
        <a href="https://vk.com/vokrugsvetamarket/" target="_blank"> <div class="menu-tabs_addit_socials_item vk"></div></a>
      </div>

    </div>
  </div>
</div>
<app-mobile-menu [show_menu]="show_menu" [_parent]="this"></app-mobile-menu>
