<div class="main">
  <div class="subscribe_content">
  </div>
</div>
<div class="main">
  <footer class="footer">
    <div class="footer_main">
      <div class="footer_main_menu">
        <div class="footer_main_menu_header">
          <a routerLink="/corners"><div class="footer_main_menu_header_item">Корнеры</div></a>
          <a routerLink="/events"><div class="footer_main_menu_header_item">События</div></a>
          <a routerLink="/about"><div class="footer_main_menu_header_item">О проекте</div></a>
        </div>
        <div class="footer_main_menu_items">
          <a routerLink="/delivery"><div class="footer_main_menu_items_item">Доставка</div></a>
          <!--<div class="footer_main_menu_items_item">Кейтеринг</div>-->
          <div class="footer_main_menu_items_item" routerLink="/contacts">Обратная связь</div>
        </div>
        <div class="subscribe_content_socials">
          <a href="https://vk.com/vokrugsvetamarket" target="_blank"><div class="subscribe_content_socials_vk"></div></a>
          <a href="https://www.facebook.com/vokrugsvetamarket/" target="_blank"><div class="subscribe_content_socials_fb"></div></a>
          <a href="https://www.instagram.com/vokrugsvetamarket/" target="_blank"><div class="subscribe_content_socials_inst"></div></a>
        </div>
      </div>
      <div class="footer_main_contacts">
        <div class="footer_main_contacts_blocks">
          <div class="footer_main_contacts_header">Контакты:</div>
          <div class="footer_main_contacts_blocks_items">
            <div class="footer_main_contacts_blocks_items_item">Адрес: г. Москва, ул. Никольская 10</div>
            <div class="footer_main_contacts_blocks_items_item">E-mail: info@vokrugsvetamarket.ru</div>
            <div class="footer_main_contacts_blocks_items_item">Ежедневно, с 11.00 до 23.00</div>
          </div>
        </div>
        <div class="footer_main_contacts_blocks">
          <div class="footer_main_contacts_header">Доставка:</div>
          <div class="footer_main_contacts_blocks_items">
            <div class="footer_main_contacts_blocks_items_item">Тел.: +7 495 967 7777</div>
            <div class="footer_main_contacts_blocks_items_item">E-mail: delivery@vokrugsvetamarket.ru</div>
            <div class="footer_main_contacts_blocks_items_item">Ежедневно, с  11.00 до 22.00</div>

          </div>
        </div>
      </div>
    </div>
    <div *ngIf="!orderService.show_bucket_mob" class="footer_info">
      <!--<div class="footer_info_copyright">&copy; 2017 Nikolskaya. Все права сохранены.</div>-->
      <!--<div class="footer_info_payments">-->
        <!--<div class="footer_info_payments_visa"></div>-->
        <!--<div class="footer_info_payments_american-express"></div>-->
        <!--<div class="footer_info_payments_master-card"></div>-->
        <!--<div class="footer_info_payments_paypal"></div>-->
      <!--</div>-->
      <!--<div class="footer_info_made-by">-->
        <!--<div class="footer_info_made-by_text">Сделано в</div>-->
        <!--<div class="footer_info_made-by_icon"></div>-->
      <!--</div>-->
      <div #banner class="footer_info_phone"><a href="tel:+7 495 967 7777">Доставка: +7 495 967 7777</a></div>
    </div>
    <div *ngIf="orderService.show_bucket_mob" class="busket_footer_wrapper">
      <div  class="busket_footer" style="position: fixed;bottom: 0">
        <div class="busket_footer_count">{{orderService.arr_bucket_length}}</div>
        <!--<div *ngIf="!orderService.other_rest" class="busket_footer_count">{{orderService.dishes_arr.length}}</div>-->
        <div class="busket_footer_total_price">{{orderService.total_price}}</div>
        <div class="busket_footer_total_go" (click)="openBusket()">Перейти в корзину<span></span></div>
      </div>
    </div>
  </footer>

</div>
