<div class="main">
  <div class="subscribe_content">
    <div class="subscribe_content_socials">
      <div class="subscribe_content_socials_vk"></div>
      <div class="subscribe_content_socials_fb"></div>
      <!--<div class="subscribe_content_socials_twit"></div>-->
      <div class="subscribe_content_socials_inst"></div>
      <!--<div class="subscribe_content_socials_pint"></div>-->
    </div>
    <div class="subscribe_content_main">
      <div class="subscribe_content_main_text">Подпишитесь на рассылку и узнавайте обо всем первым:</div>
      <div class="subscribe_content_main_form">
        <input type="email" placeholder="Ваш email">
        <button>Подписаться</button>

      </div>
    </div>
  </div>
</div>
<div class="main">
  <footer class="footer">
    <div class="footer_main">
      <div class="footer_main_menu">
        <div class="footer_main_menu_header">
          <div class="footer_main_menu_header_item">Корнеры</div>
          <div class="footer_main_menu_header_item">События</div>
          <div class="footer_main_menu_header_item">О проекте</div>
        </div>
        <div class="footer_main_menu_items">
          <div class="footer_main_menu_items_item">Доставка</div>
          <div class="footer_main_menu_items_item">Кейтеринг</div>
          <div class="footer_main_menu_items_item">Обратная связь</div>
        </div>
      </div>
      <div class="footer_main_contacts">
        <div class="footer_main_contacts_header">Служба доставки:</div>
        <div class="footer_main_contacts_blocks">
          <div class="footer_main_contacts_blocks_items">
            <div class="footer_main_contacts_blocks_items_item">E-mail: delivery@nikolskaya.org</div>
            <div class="footer_main_contacts_blocks_items_item">Ежедневно, с 8.00 до 23.00</div>
            <div class="footer_main_contacts_blocks_items_item">Тел.: +7 (495) 951-19-47</div>
          </div>
          <div class="footer_main_contacts_blocks_items">
            <div class="footer_main_contacts_blocks_items_item">Адрес: г. Москва, ул. Никольская 10</div>
            <div class="footer_main_contacts_blocks_items_item">E-mail: info@nikolskaya.org</div>
            <div class="footer_main_contacts_blocks_items_item">Тел.: +7 (123) 456-78-90</div>
          </div>


        </div>
      </div>
    </div>
    <div class="footer_info">
      <div class="footer_info_copyright">&copy; 2017 Nikolskaya. Все права сохранены.</div>
      <div class="footer_info_payments">
        <div class="footer_info_payments_visa"></div>
        <div class="footer_info_payments_american-express"></div>
        <div class="footer_info_payments_master-card"></div>
        <div class="footer_info_payments_paypal"></div>
      </div>
      <div class="footer_info_made-by">
        <div class="footer_info_made-by_text">Сделано в</div>
        <div class="footer_info_made-by_icon"></div>
      </div>
    </div>

  </footer>
</div>
