<div class="wrapper_banner">
  <!--<div class="wrapper_banner_back"></div>-->
  <div class="banner_main">
    <div class="banner_main_content">
      <div class="banner_main_content_title">
        Мы дарим всем гостям 10% скидку на меню а-ля-карт в ресторане за чекин
      </div>
      <div class="banner_main_content_date">28 июня - 03 июля</div>
      <div class="banner_main_content_tag">Все рестораны</div>
      <div class="banner_main_content_img"><img src="app/sass/images/main_banner.png"></div>
      <div class="banner_main_content_text">
        Весь ноябрь с понедельника по четверг каждому ребенку при посещении детской комнаты в пицца на выбор в подарок*! В предложении могут принять участие дети в возрасте до 10 лет.
        *Под подарком подразумевается приобретение пиццы Маргарита или пиццы Карбонара за 1 руб.
        Акция действует с 1 по 30 ноября.
      </div>
    </div>
    <div class="banner_main_close">
      <div class="banner_main_close_icon"></div>
    </div>
  </div>
</div>
