<div #menu_mobile *ngIf="show_menu" class="menu_mobile">
  <div class="menu_mobile_header">
    <div class="menu_mobile_header_logo"><a routerLink="/home"></a></div>
    <div class="menu_mobile_header_close" (click)="closeMenu()"></div>
  </div>
  <div class="menu_mobile_tabs">
    <div class="menu_mobile_tabs-main">
      <a routerLink="/corners"> <div class="menu_mobile_tabs-main_item">корнеры</div></a>
      <a routerLink="/events"> <div class="menu_mobile_tabs-main_item">события</div></a>
      <a routerLink="/about"> <div class="menu_mobile_tabs-main_item">о проекте</div></a>
      <a routerLink="/contacts"><div class="menu_mobile_tabs-main_item">контакты</div></a>
    </div>
    <div class="menu_mobile_tabs-sub">
      <!--<div class="menu_mobile_tabs-sub_item">Кешбек</div>-->
      <a routerLink="/delivery"><div class="menu_mobile_tabs-sub_item">Доставка</div></a>
      <!--<div class="menu_mobile_tabs-sub_item">Кейтеринг</div>-->
    </div>
  </div>
  <div class="menu_mobile_socials">
    <a href="https://vk.com/vokrugsvetamarket" target="_blank"><div class="menu_mobile_socials_vk"></div></a>
    <a href="https://www.facebook.com/vokrugsvetamarket/" target="_blank"><div class="menu_mobile_socials_fb"></div></a>
    <!--<div class="menu_mobile_socials_tw"></div>-->
    <a href="https://www.instagram.com/vokrugsvetamarket/" target="_blank"><div class="menu_mobile_socials_insta"></div></a>
    <!--<div class="menu_mobile_socials_pinterest"></div>-->
  </div>
</div>
<div class="overlay" *ngIf="show_menu"></div>