<div class="about_container_content">
  <div class="about_container_content_table">
    <div class="about_container_content_table_header">Бонусный счет</div>
    <div class="about_container_content_table_description">
      Вы – заказываете еду, мы – начисляем вам бонусы. Бонус - это процент от суммы обмена, который вы получаете в сумме совместно с обменной операцией.

      Размер зависит от вашего оборота средств. Если у вас есть приглашенные пользователи то бонусная система отключается и начинает действовать партнерская программа.
    </div>
    <div class="about_container_content_table_header-password">На вашем счету</div>
    <div class="about_container_content_table_bonus_description">
      <div class="about_container_content_table_bonus_description_points">{{bonuses.ForSpentSum}} баллов </div>
      <div class="about_container_content_table_bonus_description_sign">=</div>
      <div class="about_container_content_table_bonus_description_currency">{{bonuses.PaySum}} руб.</div>
    </div>
    <button class="about_container_content_table_btn" type="submit">Потратить баллы</button>
    <div class="personal_bonus_progress_bar">
      <div class="personal_bonus_progress_bar_text">{{bonuses.Name}}</div>
      <div class="personal_bonus_progress_bar_main">
        <div class="personal_bonus_progress_bar_main_item"></div>
        <div class="personal_bonus_progress_bar_main_item"></div>
        <div class="personal_bonus_progress_bar_main_item"></div>
        <div class="personal_bonus_progress_bar_main_item"></div>
        <div class="personal_bonus_progress_bar_main_item"></div>
        <div class="personal_bonus_progress_bar_main_item"></div>
        <div class="personal_bonus_progress_bar_main_color"></div>
      </div>
      <div class="personal_bonus_progress_bar_points_total">
        <div class="personal_bonus_progress_bar_points_total_current">Заработано {{bonuses.ForSpentSum}} баллов</div>
        <div class="personal_bonus_progress_bar_points_total_left">Осталось {{bonuses.MaxValue}} баллов</div>
      </div>
    </div>
  </div>
</div>