<div *ngFor="let item of menu_list">
  <!--<div class="dishes_content_menu_blocks_title">{{item.Name}}</div>-->
<div class="dish-output_result_items_item">
  <div class="dish-output_result_items_item_img">
    <img src="{{item.Picture}}">
  </div>
  <div class="dish-output_result_items_item_info">
    <div class="dish-output_result_items_item_info_name">{{item.Name}}
    </div>

    <div class="dish-output_result_items_item_info_content">
      <div class="dish-output_result_items_item_info_content_weight">
        <div class="dish-output_result_items_item_info_content_weight_item">{{item.Weight}}</div>
        <div class="dish-output_result_items_item_info_content_weight_item">775 ккал</div>
      </div>
      <div class="dish-output_result_items_item_info_content_item">{{item.Price}}</div>
    </div>
  </div>

</div>
</div>