<div class="dish-output_result_items_item">
  <div class="dish-output_result_items_item_img">
    <img src="app/sass/images/rest_result_dish.png">
  </div>
  <div class="dish-output_result_items_item_info">
    <div class="dish-output_result_items_item_info_name">Бургер вегетарианский со свёклой и
      шампиньонами
    </div>

    <div class="dish-output_result_items_item_info_content">
      <div class="dish-output_result_items_item_info_content_weight">
        <div class="dish-output_result_items_item_info_content_weight_item">460 гр</div>
        <div class="dish-output_result_items_item_info_content_weight_item">775 ккал</div>
      </div>
      <div class="dish-output_result_items_item_info_content_item">330 руб.</div>
    </div>
  </div>

</div>