<div class="content_corners_items">
    <div class="content_corners_items_item" *ngFor="let item of restaurants_list; let i=index"
         [routerLink]="[link,item.Number]" id="{{item.Number}}">
        <div class="content_corners_items_item_img" [style.backgroundImage]="'url(' + item.Picture + ')'">
            <img class="logo" src="{{item.Logo}}">
        </div>
        <div class="content_corners_items_item_content">
            <div class="content_corners_items_item_content_name">{{item.Name}}</div>
            <div *ngIf="restaurants_list.Time != null" class="content_corners_items_item_content_time">{{item.Time}}
            </div>
        </div>
        <div class="content_corners_items_item_content-kitchen-tags" style="display: flex; flex-direction: row;">
            <div class="content_corners_items_item_content-kitchen" *ngFor="let tag of item.Tags; let i=index">
                <div class="content_corners_items_item_content-kitchen_item" *ngIf="i<3">{{tag.Name}}</div>
                <div class="content_corners_items_item_content-kitchen_delimiter" *ngIf="i<2"></div>
                <!--<div class="content_corners_items_item_content-kitchen_item">{{tag}}</div>-->
                <!--<div class="content_corners_items_item_content-kitchen_delimiter"></div>-->
                <!--<div class="content_corners_items_item_content-kitchen_item">{{tag}}</div>-->
            </div>
        </div>
    </div>
</div>