<div class="content_corners_items_item">
  <div class="content_corners_items_item_img">
    <img class="content_corners_items_item_img_main" src="app/sass/images/1.png">
    <img class="logo" src="app/sass/images/proect24.png">
  </div>
  <div class="content_corners_items_item_content">
    <div class="content_corners_items_item_content_name">Проект 24</div>
    <div class="content_corners_items_item_content_time">15 мин</div>
  </div>
  <div class="content_corners_items_item_content-kitchen">
    <div class="content_corners_items_item_content-kitchen_item">Европейская</div>
    <div class="content_corners_items_item_content-kitchen_delimiter"></div>
    <div class="content_corners_items_item_content-kitchen_item">Гриль</div>
    <div class="content_corners_items_item_content-kitchen_delimiter"></div>
    <div class="content_corners_items_item_content-kitchen_item">Сендвичи</div>
  </div>
</div>
