@import "../sass/sass/_variables";
@import "../sass/sass/_svg-sprite";
@import "../sass/sass/_png-sprite";

:host(.root) {
  @media screen and (max-width: 1024px) {
    width: 100%;
    padding: 0;
    margin: 0 auto;
    //padding: 0 40px;
  }
}
      .content_corners_items_item{
        width: 380px;
        border: 1px solid #E6E3E1;
        border-radius: 0 0 4px 4px;
        background-color: #FFFFFF;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
        margin: 30px 30px 0 30px;
        position: relative;
        cursor: pointer;

        @media screen and (max-width: 1024px) {
          width: calc(100% - 40px);
          padding: 0;
          margin: 20px auto 0;
          //padding: 0 40px;
        }

        &_img {
          position: relative;

          &_main {
            width: 380px;
            height: 214px;

            @media screen and (max-width: 1024px) {
              width: 100%;
              height: auto;
            }
          }
          .logo {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }

        &_content {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          font-family: $font_ubuntu;
          padding: 15px 20px 10px;

          @media screen and (max-width: 1024px) {
            padding: 10% 20px 10px;
          }

          &_name {
            color: #231F20;
            font-size: 18px;
            line-height: 21px;
          }
          &_time {
            color: #867F7B;
            font-size: 13px;
            line-height: 13px;
            padding: 4px 7px;;
            border-radius: 2px;
            background-color: #F7F6F2;
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
          }
          &-kitchen {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            color: #7F7873;
            font-size: 13px;
            line-height: 13px;
            padding: 10px 133px 20px 20px;
            align-items: center;
            font-family: $font_ubuntu;

            @media screen and (max-width: 1024px) {
              width: 195px;
              font-size: 11px;
              line-height: 11px;
            }

            &_item {

            }
            &_delimiter {
              @include sp__rectangle;
            }
          }
        }
        &-hover {
          font-family: $font_ubuntu;
          &_main {
            background-color: rgba(0,0,0,0.8);
            padding: 55px 30px 55px;
            position: absolute;
            top: 0;

            &_text {
              font-size: 18px;
              font-weight: 500;
              line-height: 20px;
              color: #FFFFFF;
              width: 319px;
            }
            &_checkin {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              color: #FFFFFF;
              margin-top: 20px;
              align-items: center;
              font-family: $font_ubuntu;
              &_item {
                background-color: #1A1718;
                padding: 5px 10px;
                margin-right: 5px;
                span {
                  color: #FFFFFF;
                  font-size: 13px;
                  line-height: 19px;
                  text-align: center;
                }

                &:last-child {
                  margin-right: 0;
                }
              }
            }
          }
        }

      }

