<div class="wrapper">
  <div class="main">
    <div class="banner stock">
      <img src="app/sass/images/events-list-banner.png">
    </div>

    <app-submenu-calendar></app-submenu-calendar>

    <div class="stocks_list">
      <app-events-block></app-events-block>
      <app-events-block></app-events-block>
      <app-events-block></app-events-block>
      <app-events-block></app-events-block>
      <app-events-block></app-events-block>
      <app-events-block></app-events-block>
      <app-events-block></app-events-block>
      <app-events-block></app-events-block>
      <app-events-block></app-events-block>
      <app-events-block></app-events-block>
      <app-events-block></app-events-block>
      <app-events-block></app-events-block>
    </div>

    <div class="stocks_show-more">Показать еще</div>

  </div>
</div>
<app-instagram-content></app-instagram-content>