//@import "../about/about-vacancies/about-vacancies.component";
@import "../footer/footer.component";

agm-map {
  height: 500px;
}

.contacts {
  margin: 0 auto;
  background-color: #F8F5F5;
  padding: 32px 50px 38px 50px;
  display: flex;
  flex-direction: column;
  @media screen and (max-width: 1024px) {
    padding: 0;
    width: 100%;
  }
  &_breadcrumbs {
    color: #7F7873;
    font-size: 13px;
    line-height: 14px;
    font-family: $font_ubuntu;
    padding-bottom: 27px;
    @media screen and (max-width: 1024px) {
      display: none;
    }
  }
  &_info {
    @media screen and (max-width: 1024px) {
     padding:30px 20px 0;
      width:calc(100% - 40px);
    }
    .delivery_info_overview_header {
      padding-bottom: 0;
    }
    &_header {
        color: #231F20;
        font-family: $font_ubuntu;
        font-size: 30px;
        font-weight: 500;
        line-height: 35px;
    }
    &_main {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      @media screen and (max-width: 1024px) {
        width: 100%;
        flex-direction: column;
      }
      &_connections {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        @media screen and (max-width: 1024px) {
          width: 100%;
        }
        &_delivery {
          padding-top: 30px;
          margin-bottom: 100px;
          @media screen and (max-width: 1024px) {
            padding-top: 4px;
            margin-bottom: 40px;
          }

          &_item {
            margin-top: 30px;

            &:first-child {
              margin-top: 0;
            }
            &_header {
              color: #231F20;
              font-family: $font_ubuntu;
              font-size: 16px;
              line-height: 16px;
              margin-bottom: 20px;


            }
            &_info {
              color: #231F20;
              font-family: $font_ubuntu;
              font-size: 13px;
              line-height: 26px;
            }
            &_small {
              color: #7F7873;
              font-family: $font_ubuntu;
              font-size: 13px;
              line-height: 13px;
              margin-bottom: 15px;
            }
          }
        }
        &_subscribe_content_socials {
          @media screen and (max-width: 1024px) {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 20px;
          }
          &_vk {
            @include sp__vk_circle-white;
            cursor: pointer;
          }
          &_fb {
            @include sp__facebook_circle-white;
            cursor: pointer;
          }
          &_twit {
            @include sp__twitter-circle-white;
            cursor: pointer;
          }
          &_inst {
            @include sp__instagram_circle-white;
            cursor: pointer;
          }
          &_pint {
            @include sp__pinterest-circle-white;
            cursor: pointer;
          }
        }
      }
      &_form {
        padding: 23px 30px 30px 30px;
        background-color: #FFFFFF;
        display: flex;
        flex-direction: column;
        margin-right: 67px;
        margin-top: -27px;
        @media screen and (max-width: 1024px) {
         padding: 0;
          margin: 0;
          width: 100%;
          background-color: transparent;
        }
        &_header {
          color: #231F20;
          font-family: $font_ubuntu;
          font-size: 18px;
          font-weight: 500;
          line-height: 21px;
          padding-bottom: 17px;
          border-bottom: 1px solid #CCC8C4;
          @media screen and (max-width: 1024px) {
            border-radius: 2px;
            background-color: #332c26;
            box-shadow:0 1px 3px 0 rgba(0,0,0,0.1 );
            color: #FFFFFF;
            cursor: pointer;
            font-size: 13px;
            line-height: 13px;
            font-weight: normal;
            width: 100%;
            text-align: center;
            padding: 14px 0 17px;
            min-width: 360px;
            margin: 0 auto;
            display: none;
          }
        }
        &_form {
          margin: 0 auto;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          padding-top: 20px;
          @media screen and (max-width: 1024px) {
            display: none;
          }
          &_rectangle {
            height: 1px;
            width: 442px;
            background-color: #CCC8C4;
          }
          &_group {
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            margin-top: 10px;
            &_label {
              color: #231F20;
              font-family: $font_ubuntu;
              font-size: 16px;
              font-weight: 500;
              line-height: 22px;
              text-align: right;
            }
            select {
              padding: 13px 20px;
              width: 395px;
              border: 1px solid #E6E3E1;
              background-color: #FFFFFF;
              border-radius: 2px;
              -webkit-appearance: none;
              color: #231F20;
              font-family: $font_ubuntu;
              font-size: 14px;
              line-height: 16px;
              cursor: pointer;
              outline: none;
            }
            &_arrow {
              position: absolute;
              font-size: 24px;
              z-index: 1;
              top: 12px;
              right: 17px;
              transform: rotate(90deg);
              cursor: pointer;
            }
            &_input {
              border: 1px solid #E6E3E1;
              border-radius: 2px;
              padding: 13px 20px;
              width: 353px;
              color: #231F20;
              font-family: $font_ubuntu;
              font-size: 14px;
              line-height: 16px;
            }
            &_textarea {
              margin-left: 33px;
              width: 361px;
              height: 82px;
              border: 1px solid #E6E3E1;
              border-radius: 2px;
              padding: 20px 16px 0;
              resize: none;
              color: #231F20;
              font-family: $font_ubuntu;
              font-size: 14px;
              line-height: 16px;
              outline: none;
            }
            &_submit {
              height: 44px;
              padding: 0 15px;
              border-radius: 2px;
              background-color: #332C26;
              margin: 20px auto 0;
              color: #FFFFFF;
              font-family: $font_ubuntu;
              font-size: 16px;
              font-weight: bold;
              line-height: 22px;
              text-align: center;
              cursor: pointer;
              outline: none;
            }
          }
        }
        &_state {
          width: 500px;
          height: 420px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          @media screen and (max-width: 1024px) {
            display: none;
          }

          &_icon {
            @include sp__mail;
          }
          &_text {
              color: #231F20;
              font-family: $font_ubuntu;
              font-size: 18px;
              line-height: 24px;
              text-align: center;
              width: 226px;
              margin-top: 20px;
              margin-left: 36px;
          }
        }
      }
    }
  }
  &_all {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
    @media screen and (max-width: 1024px) {
     padding: 0 20px 5px;
      flex-direction: column;
      margin-top: 0;
    }
    &_block {
      display: flex;
      flex-direction: column;
      @media screen and (max-width: 1024px) {
        margin-bottom: 20px;
        font-size: 13px;
        line-height: 20px;
      }
      .footer_main_contacts_header {
        padding-bottom: 20px;
        @media screen and (max-width: 1024px) {
          padding-bottom: 0;
        }
      }
    }
  }
  .subscribe_content_socials {
    padding-top: 101px;
    width: 285px;
  }
  .main_map {
    padding:40px 0;
  }
}

.contacts-main {
  .subscribe_content {
    padding: 0 0 30px;
    .subscribe_content_socials {
      padding-top: 0;
    }
  }
}
.scheme {
  height: 500px;
  text-align: center;
  overflow: hidden;
  position: relative;
  div {
    background: url("../sass/images/scheme2.jpg");
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: transform .5s ease-out;
  }
  img {
    max-width: 100%;
    max-height: 100%;
  }
}
.error {
  border: 1px solid #FF2E00;
  border-radius: 2px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1);
}
.error_text {
  color: #FF2E00;
  font-family: $font_ubuntu;
  font-size: 12px;
  line-height: 17px;

}