<div class="main">
  <div class="delivery_banner">
    <div class="delivery_banner_mobile-images">
      <div class="delivery_banner_mobile-images_cabbage"></div>
      <div class="delivery_banner_mobile-images_white-dots"></div>
      <div class="delivery_banner_mobile-images_arugula"></div>
      <div class="delivery_banner_mobile-images_meal"></div>
      <div class="delivery_banner_mobile-images_bread"></div>
      <div class="delivery_banner_mobile-images_garlic"></div>
    </div>
    <div class="delivery_banner_header">Заказывайте еду с доставкой и на вынос!</div>
    <div class="delivery_banner_info">
      <div class="delivery_banner_info_block">
        <div class="delivery_banner_info_block_circle">
          <div class="delivery_banner_info_block_circle_time"></div>
        </div>
        <div class="delivery_banner_info_block_text">45-60 минут</div>
      </div>
      <div class="delivery_banner_info_block">
        <div class="delivery_banner_info_block_circle">
          <div class="delivery_banner_info_block_circle_currenсy"></div>
        </div>
        <div class="delivery_banner_info_block_text">От 500 р. бесплатно</div>
      </div>
      <div class="delivery_banner_info_block">
        <div class="delivery_banner_info_block_circle">
          <div class="delivery_banner_info_block_circle_card"></div>
        </div>
        <div class="delivery_banner_info_block_text">Картами или наличными</div>
      </div>
    </div>
    <div class="delivery_banner_button">
      <div class="delivery_banner_button_text" ><a routerLink="/corners">Заказать доставку</a></div>
    </div>
  </div>
</div>
<div class="main">
  <div class="delivery_info">
    <!--<div class="delivery_info_breadcrumbs">Главная / Доставка и оплата</div>-->
    <div class="delivery_info_overview">
      <div class="delivery_info_overview_header">
        <div class="delivery_info_overview_header_text">Доставка и оплата</div>
        <div class="delivery_info_overview_header_showmore" [class.close]="payments" (click)="OpenPayments()"><span>Подробнее</span></div>
      </div>
      <div class="delivery_info_overview_text">
        <span>Если вы хотите заказать доставку из гастромаркета Вокруг Света, вы можете ознакомиться с меню наших концепций в разделе “корнеры” на сайте, а затем позвонить нам по номеру +7 495 967 7777. Мы будем рады принять ваш заказ по телефону, а вам останется оплатить его курьеру при получении - банковской картой или наличными. </span>
        <pre>&nbsp;</pre>
        <span>Скоро доставка станет доступной через приложение и сайт, с возможностью онлайн оплаты и отслеживанием маршрута курьера по карте. Также ожидайте скорого запуска программы лояльности с виртуальными картами и отслеживанием статуса через сайт и приложение.</span>
      </div>
    </div>
    <div class="delivery_info_mobile-showmore" (click)="OpenPayments()">
      Показать больше
    </div>
    <div *ngIf="payments" class="delivery_info_payments">
      <div class="delivery_info_payments_methods">
        <div class="delivery_info_payments_methods_item">
          <h3>ВРЕМЯ И ЗОНА ДОСТАВКИ</h3>
          <pre>&nbsp;</pre>
          <span>
            Мы доставляем в пределах Садового кольца. Если вы находитесь за пределами зоны доставки, просим Вас забрать заказ самостоятельно из Гастромаркета. В этом случае Вам понадобится стойка “Возьми с собой”.
            Среднее время доставки составляет 45-60 минут. Время доставки зависит от объема заказа, сложности приготовления блюд, а также от удаленности пункта доставки.
          </span>
          <pre>&nbsp;</pre>
          <h3>СТОИМОСТЬ ДОСТАВКИ</h3>
          <pre>&nbsp;</pre>
          <span>
            Доставка в пределах Садового кольца осуществляется бесплатно при минимальной сумме заказа - 500 руб.
            <pre>&nbsp;</pre>
            Если стоимость заказа ниже минимальной, возможно забрать заказ самостоятельно непосредственно из Гастромаркета. В этом случае Вам понадобится стойка “Возьми с собой”.
            <pre>&nbsp;</pre>
            В случае, если стоимость заказа превышает 5 тысяч рублей, компания оставляет за собой право потребовать предоплату в размере 100% стоимости заказа. Заказы для проведения банкетных или фуршетных мероприятий, а так же, заказы на сумму свыше 10 тысяч рублей, просим вас оформлять заблаговременно - не менее чем за сутки до желаемого времени доставки.<br>
          </span>
          <pre>&nbsp;</pre>
          <h3>СПОСОБЫ ОПЛАТЫ</h3>
          <pre>&nbsp;</pre>
          <span>Оплатить заказ на доставку и предзаказ в Вокруг Света можно:<br>
            - на нашем сайте электронным способом,<br>
            - с помощью мобильного приложения электронным способом,<br>
            - наличными средствами или с помощью банковской карты курьеру в момент передачи заказа,<br>
            - любым способом непосредственно на стойке “Возьми с собой” Гастромаркета.<br>
          <pre>&nbsp;</pre>
            К оплате принимаются банковские карты следующих платежных систем:<br>
            VISA International,<br>
            MasterCard Worldwide,<br>
            American Express,<br>
            Diners Club International,<br>
            JCB International,<br>
            МИР.
            <pre>&nbsp;</pre>
            При оплате банковской картой, Вы попадаете на страницу оплаты, где будет необходимо ввести данные Вашей карты и подтвердить оплату. Вся передаваемая Вами информация конфиденциальна и не подлежит разглашению. Данные Вашей карты передаются в зашифрованном виде. Если на Вашей карте есть в наличии необходимая сумма, она будет заблокирована и списана. Все операции с банковскими картами происходят в соответствии с требованиями VISA International, MasterCard и других платежных систем. При передаче информации используются специальные технологии безопасности карточных онлайн-платежей, обработка данных ведется на безопасном удаленном сервере. При успешном завершении операции Вы увидите, что платеж подтвержден, в противном случае необходимо будет повторно совершить заказ. В таком случае Вы можете выбрать другую формы оплаты.</span>
        </div>
      </div>
    </div>
    <div class="main_map">
      <div #gmap class="main_map_widget" >
        <div id="gmap"></div>
        <div #scheme *ngIf="map_button['scheme']" class="scheme" >
          <div #schemeImg class="scheme-img" (mouseover)="setZoom()" (mouseout)="removeZoom()" (mousemove)="moveZoom($event)"></div>
        </div>
      </div>
    </div>
  </div>
</div>