<div class="about_container_content">
  <div class="about_container_content_item">
    <div class="about_container_content_item_image">
      <img src="app/sass/images/news1.png">
    </div>
    <div class="about_container_content_item_text">
      <div class="about_container_content_item_text_header">Неделя итальянской еды</div>
      <div class="about_container_content_item_text_overview">Мероприятие длится один день и направлено
        на увеличение продаж среди владельцев карт «Постоянного покупателя».
        Владельцы карт, которые делают в этот день покупку на определенную сумму,
        получают подарок. Кроме того, все
      </div>
      <div class="about_container_content_item_text_date">28 июня в 16:00</div>
      <div class="about_container_content_item_text_tag-mobile">Афиша</div>
    </div>
  </div>
  <div class="about_container_content_item">
    <div class="about_container_content_item_image">
      <img src="app/sass/images/news3.png">
    </div>
    <div class="about_container_content_item_text">
      <div class="about_container_content_item_text_header">Неделя итальянской еды</div>
      <div class="about_container_content_item_text_overview">Мероприятие длится один день и направлено
        на увеличение продаж среди владельцев карт «Постоянного покупателя».
        Владельцы карт, которые делают в этот день покупку на определенную сумму,
        получают подарок. Кроме того, все
      </div>
      <div class="about_container_content_item_text_date">28 июня в 16:00</div>
      <div class="about_container_content_item_text_tag-mobile">Афиша</div>
    </div>
  </div>
  <div class="about_container_content_item">
    <div class="about_container_content_item_image">
      <img src="app/sass/images/news2.png">
    </div>
    <div class="about_container_content_item_text">
      <div class="about_container_content_item_text_header">Неделя итальянской еды</div>
      <div class="about_container_content_item_text_overview">Мероприятие длится один день и направлено
        на увеличение продаж среди владельцев карт «Постоянного покупателя».
        Владельцы карт, которые делают в этот день покупку на определенную сумму,
        получают подарок. Кроме того, все
      </div>
      <div class="about_container_content_item_text_date">28 июня в 16:00</div>
      <div class="about_container_content_item_text_tag-mobile">Афиша</div>
    </div>
  </div>
  <div class="about_container_content_item">
    <div class="about_container_content_item_image">
      <img src="app/sass/images/news4.png">
    </div>
    <div class="about_container_content_item_text">
      <div class="about_container_content_item_text_header">Неделя итальянской еды</div>
      <div class="about_container_content_item_text_overview">Мероприятие длится один день и направлено
        на увеличение продаж среди владельцев карт «Постоянного покупателя».
        Владельцы карт, которые делают в этот день покупку на определенную сумму,
        получают подарок. Кроме того, все
      </div>
      <div class="about_container_content_item_text_date">28 июня в 16:00</div>
      <div class="about_container_content_item_text_tag-mobile">Афиша</div>
    </div>
  </div>
  <div class="about_container_content_item">
    <div class="about_container_content_item_image">
      <img src="app/sass/images/news1.png">
    </div>
    <div class="about_container_content_item_text">
      <div class="about_container_content_item_text_header">Неделя итальянской еды</div>
      <div class="about_container_content_item_text_overview">Мероприятие длится один день и направлено
        на увеличение продаж среди владельцев карт «Постоянного покупателя».
        Владельцы карт, которые делают в этот день покупку на определенную сумму,
        получают подарок. Кроме того, все
      </div>
      <div class="about_container_content_item_text_date">28 июня в 16:00</div>
      <div class="about_container_content_item_text_tag-mobile">Афиша</div>
    </div>
  </div>
  <div class="about_container_content_item">
    <div class="about_container_content_item_image">
      <img src="app/sass/images/news2.png">
    </div>
    <div class="about_container_content_item_text">
      <div class="about_container_content_item_text_header">Неделя итальянской еды</div>
      <div class="about_container_content_item_text_overview">Мероприятие длится один день и направлено
        на увеличение продаж среди владельцев карт «Постоянного покупателя».
        Владельцы карт, которые делают в этот день покупку на определенную сумму,
        получают подарок. Кроме того, все
      </div>
      <div class="about_container_content_item_text_date">28 июня в 16:00</div>
      <div class="about_container_content_item_text_tag-mobile">Афиша</div>
    </div>
  </div>
  <div class="about_container_content_item">
    <div class="about_container_content_item_image">
      <img src="app/sass/images/news3.png">
    </div>
    <div class="about_container_content_item_text">
      <div class="about_container_content_item_text_header">Неделя итальянской еды</div>
      <div class="about_container_content_item_text_overview">Мероприятие длится один день и направлено
        на увеличение продаж среди владельцев карт «Постоянного покупателя».
        Владельцы карт, которые делают в этот день покупку на определенную сумму,
        получают подарок. Кроме того, все
      </div>
      <div class="about_container_content_item_text_date">28 июня в 16:00</div>
      <div class="about_container_content_item_text_tag-mobile">Афиша</div>
    </div>
  </div>
</div>
