@import "../history/history.component";
//@import "../../sass/sass/svg-sprite";
.about_container_content_table {
  &_header-password {
      color: #231F20;
      font-family: $font_ubuntu;
      font-size: 22px;
      font-weight: bold;
      line-height: 26px;
  }
  form {
    margin-top: 30px;
    font-family: $font_ubuntu;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 220px;

    label {
        color: #231F20;
        font-size: 16px;
        font-weight: 500;
        line-height: 22px;
    }
    input {
        padding: 15px 20px;
        width: 353px;
        border: 1px solid #E6E3E1;
        border-radius: 2px;
        box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1);
        color: #7F7873;
        font-size: 14px;
        line-height: 16px;
    }
    .form_item {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 5px;
      align-items: center;

      &:first-child {
        margin-top: 0;
      }
    }

  }
  .form_button {
    border: none;
    outline: none;
    cursor: pointer;
    padding: 15px;
    width: 206px;
    border-radius: 2px;
    background-color: #E6E3E1;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1);
    font-family: $font_ubuntu;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    line-height: 22px;
    text-align: center;
    margin:20px 10px 0;
  }
}
.personal_subscribe_wrapper {
  display: flex;
  flex-direction: row;
  margin-right: 220px;
  margin-left: 10px;
  margin-top: 10px;
  padding: 20px 0 20px 20px;
  background-color: #F7F6F5;
  position: relative;
  align-items: center;
  //justify-content: center;
  &_checkbox {
    position: relative;
    width: 24px;
    height: 24px;
    margin-right: 20px;

    input[type=checkbox] {
      position: absolute;
      left: 0;
      top: 0;
      margin: 0;
      padding: 0;
      opacity: 0;
    }
    label::after, label::before {
      content: '';
      display: block;
      width: 24px;
      height: 24px;
      border-radius: 3.6px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
    label::before {
      left: 0;
      border: 1px solid #e6e6e6;
      box-shadow: inset 1px 1px rgba(0, 0, 0, 0.03);
      background-color: #ffffff;
    }
    label::after {
      background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9487/icon-check.svg") no-repeat center center;
      display: none;
    }
    input[type=checkbox]:checked + label::before {
      background-color: #19191a;
      border: none;
      box-shadow: none;
    }
    input[type=checkbox]:checked + label::after {
      display: block;
    }
  }
  &_text {
    display: flex;
    flex-direction: column;
    color: #231F20;
    font-size: 14px;
    font-weight: bold;
    line-height: 30px;

    span:last-child {
        color: #7F7873;
        font-size: 14px;
        line-height: 16px;
    }

  }
  &_img {
    background: url("../../sass/sass/icons/email_personal.svg");
    height: 48px;
    width: 47px;
    position: absolute;
    right: 0;
  }

}