<div class="about_container_content">
  <div class="about_container_content_table">
    <div class="about_container_content_table_header">Персональные данные</div>
    <form [formGroup]="form_personal" novalidate>
      <div class="form_item">
        <label for="first-name">Имя</label>
        <input formControlName="FirstName" [(ngModel)]="first_name" id="first-name" type="text" placeholder="Введите имя">
      </div>
      <div class="form_item">
        <label for="second-name">Фамилия</label>
        <input formControlName="LastName" [(ngModel)]="last_name"  id="second-name" type="text" placeholder="Введите фамилию">
      </div>
      <div class="form_item">
        <label for="email">Email</label>
        <input formControlName="Email" [(ngModel)]="email"  id="email" type="email" placeholder="Введите электронную почту">
      </div>
    </form>
    <button type="submit" class="form_button" (click)="changeData()">Сохранить изменения</button>
  </div>
  <div class="about_container_content_table">
    <div class="about_container_content_table_header-password">Изменить пароль</div>
    <form [formGroup]="form_password" novalidate>
      <div class="form_item">
        <label for="old-pass">Старый пароль</label>
        <input formControlName="OldPassword"  id="old-pass" type="password" placeholder="Введите текущий парроль">
      </div>
      <div class="form_item">
        <label for="new-pass">Новый пароль</label>
        <input formControlName="NewPassword"  id="new-pass" type="password" placeholder="Минимум 6 символов">
      </div>
      <div class="form_item">
        <label for="repeat">Подтверидить</label>
        <input formControlName="ConfirmPassword"  id="repeat" type="password" placeholder="Повторите пароль еще раз">
      </div>
    </form>
    <button type="submit" class="form_button" (click)="changePass()">Изменить пароль</button>
  </div>
</div>