<div class="main">
  <div class="instagram_content">
    <div class="instagram_content_item">
      <div class="instagram_content_item_main-text">#ВокругСвета</div>
      <div class="slider-footer_delivery_moreinfo-text">
        <div class="slider-footer_delivery_moreinfo-text_left-dash"></div>
        <div class="slider-footer_delivery_moreinfo-text_text"><a href="https://www.instagram.com/vokrugsvetamarket/" target="_blank">Перейти в instagram</a></div>
        <div class="slider-footer_delivery_moreinfo-text_right-dash"></div>
      </div>
    </div>
    <div class="instagram_content_item" *ngFor="let item of images.data">
      <a href="{{item.link}}">
        <div class="instagram_content_item_img" [style.backgroundImage]="'url(' + item.images.low_resolution.url + ')'"></div>
      </a>
    </div>
  </div>
</div>
