<div class="main">
  <div class="instagram_content">
    <div class="instagram_content_item">
      <div class="instagram_content_item_main-text">#ВокругСвета</div>
      <div class="slider-footer_delivery_moreinfo-text">
        <div class="slider-footer_delivery_moreinfo-text_left-dash"></div>
        <div class="slider-footer_delivery_moreinfo-text_text">Перейти в instagram</div>
        <div class="slider-footer_delivery_moreinfo-text_right-dash"></div>
      </div>
    </div>
    <div class="instagram_content_item"><img src="app/sass/images/Bitmap7.png"></div>
    <div class="instagram_content_item"><img src="app/sass/images/Bitmap8.png"></div>
    <div class="instagram_content_item"><img src="app/sass/images/Bitmap10.png"></div>
    <div class="instagram_content_item"><img src="app/sass/images/ImageInsta.png"></div>
  </div>
</div>
