<div class="about_container_content">
  <div class="about_container_content_table">
    <div class="about_container_content_table_header">История заказов</div>
   <div class="about_container_content_table-head">
     <table >
       <tr>
         <td>Дата получения</td>
         <td>Номер заказа</td>
         <td>Тип получения</td>
         <td>Адрес</td>
         <td>Стоимость</td>
       </tr>
     </table>
   </div>
   <div class="about_container_content_table-data">
     <table >
       <tr>
         <td>Сегодня, 16:00</td>
         <td>#11111</td>
         <td>Доставка</td>
         <td>ул. Научная 23</td>
         <td>1000р<div class="arrow_down"></div></td>
       </tr>
     </table>
   </div>

  </div>
  <div class="about_container_content_table">
    <div class="about_container_content_table_header">Завершенные заказы</div>
   <div class="about_container_content_table-head">
     <table >
       <tr>
         <td>Дата получения</td>
         <td>Номер заказа</td>
         <td>Тип получения</td>
         <td>Адрес</td>
         <td>Стоимость</td>
       </tr>
     </table>
   </div>
   <div class="about_container_content_table-data">
     <table >
       <tr>
         <td>Сегодня, 16:00</td>
         <td>#11111</td>
         <td>Доставка</td>
         <td>ул. Научная 23</td>
         <td>1000р<div class="arrow_up"></div></td>
       </tr>
     </table>
   </div>
   <div class="about_container_content_table-detail">
     <div class="about_container_content_table-detail_order">
       <div class="about_container_content_table-detail_order_name">Ramen Lab</div>
       <div class="about_container_content_table-detail_order_items">
        <div class="about_container_content_table-detail_order_items_item">
          <span>Сендвич с курицей</span>
          <div class="about_container_content_table-detail_order_items_item_count">
            <span>1 шт</span>
            <span>1000р</span>
          </div>

        </div>
         <div class="about_container_content_table-detail_order_items_item">
           <span>Сендвич с курицей</span>
           <div class="about_container_content_table-detail_order_items_item_count">
             <span>1 шт</span>
             <span>1000р</span>
           </div>
         </div>
       </div>
     </div>

     <div class="about_container_content_table-detail_order">
       <div class="about_container_content_table-detail_order_name">Ramen Lab</div>
       <div class="about_container_content_table-detail_order_items">
         <div class="about_container_content_table-detail_order_items_item">
           <span>Сендвич с курицей</span>
           <div class="about_container_content_table-detail_order_items_item_count">
             <span>1 шт</span>
             <span>1000р</span>
           </div>
         </div>
         <div class="about_container_content_table-detail_order_items_item">
           <span>Сендвич с курицей</span>
           <div class="about_container_content_table-detail_order_items_item_count">
             <span>1 шт</span>
             <span>1000р</span>
           </div>
         </div>
       </div>
     </div>


   </div>
    <div class="about_container_content_table_review">Оставить отзыв</div>

  </div>
</div>