<div class="wrapper">
  <div class="main">
    <div class="banner event">
      <img src="app/sass/images/events-list-banner2.png">
    </div>
    <div class="events_list">
      <app-events-block [link]="'/event/'"></app-events-block>
      <div *ngIf="eventsListService.index" class="slider">
        <owl-carousel [options]="{items: 1, dots: false,nav: true, navText: ['','']}" [carouselClasses]="['owl-theme', 'row', 'sliding']">
          <div class="item"><img src="app/sass/images/slider-banner.png"></div>
          <div class="item"><img src="app/sass/images/slider-banner.png"></div>
          <div class="item"><img src="app/sass/images/slider-banner.png"></div>
          <div class="item"><img src="app/sass/images/slider-banner.png"></div>
        </owl-carousel>
      </div>
      <app-events-block [events_list]="events_list" [link]="'/event/'"></app-events-block>
    </div>
    <div class="events_show-more">Показать еще</div>
  </div>
</div>
<app-instagram-content></app-instagram-content>
