<div class="form_wrapper">
  <div class="order-container_wrapper_form_group_item">
    <div class="order-container_wrapper_form_switch">
      <div class="order-container_wrapper_form_switch_item" [class.active]="sign_in" (click)="sign_in = true;login = false ">Регистрация</div>
      <div class="order-container_wrapper_form_switch_item" [class.active]="login" (click)="login = true; sign_in = false;">Вход</div>
    </div>
  </div>

  <div *ngIf="sign_in">
    <!--<div class="order-container_wrapper_form_group_item">-->
      <!--<div class="order-container_wrapper_form_group_item_label">Имя</div>-->
      <!--<div class="order-container_wrapper_form_group_item_input">-->
        <!--<input type="text" value="Как к вам обращаться?">-->
      <!--</div>-->
    <!--</div>-->
    <div class="order-container_wrapper_form_group_item">
      <div class="order-container_wrapper_form_group_item_label">Email</div>
      <div class="order-container_wrapper_form_group_item_input">
        <input type="email" value="user_email@gmail.com"/>
      </div>
    </div >
    <div class="order-container_wrapper_form_group_item">
      <div class="order-container_wrapper_form_group_item_label">Пароль</div>
      <div class="order-container_wrapper_form_group_item_input">
        <input type="text" value="минимум 6 символов"/>
      </div>
    </div>
    <div class="order-container_wrapper_form_group_item">
      <div class="order-container_wrapper_form_group_item_label">Подтвердите пароль</div>
      <div class="order-container_wrapper_form_group_item_input">
        <input type="text" value="Потвердите пароль"/>
      </div>
    </div>
    <!--<div class="order-container_wrapper_form_group_item">-->
      <!--<div class="order-container_wrapper_form_group_item_add-phone-description">-->
        <!--<div class="order-container_wrapper_form_group_item_add-phone-description_lock"></div>-->
        <!--<div class="order-container_wrapper_form_group_item_add-phone-description_text">Для СМС с-->
          <!--подтверждением заказа. Никакого спама!-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <div class="form_wrapper_btn_group">
      <button class="form_wrapper_btn_group_main_btn">Зарегистрироваться</button>
      <!--<button class="form_wrapper_btn_group_sub_btn">Пропустить</button>-->
    </div>
  </div>
  <div *ngIf="login">
    <!--<div class="order-container_wrapper_form_group_item">-->
      <!--<div class="order-container_wrapper_form_group_item_not-logged-title">-->
        <!--Войдите в свой аккаунт-->
      <!--</div>-->
    <!--</div>-->
    <div class="order-container_wrapper_form_group_item">
      <div class="order-container_wrapper_form_group_item_label">Email</div>
      <div class="order-container_wrapper_form_group_item_input">
        <input type="email" value="user_email@gmail.com">
      </div>
    </div>
    <div class="order-container_wrapper_form_group_item">
      <div class="order-container_wrapper_form_group_item_label">Пароль</div>
      <div class="order-container_wrapper_form_group_item_input">
        <input type="password" value="12345678">
      </div>
    </div>
    <!--<div class="order-container_wrapper_form_group_item">-->
      <!--<div class="order-container_wrapper_form_group_item_submit">-->
        <!--<button class="order-container_wrapper_form_group_item_submit_button" type="submit">-->
          <!--Войти-->
        <!--</button>-->
      <!--</div>-->
    <!--</div>-->
    <div class="form_wrapper_btn_group">
      <button class="form_wrapper_btn_group_main_btn"> Войти</button>
      <button class="form_wrapper_btn_group_sub_btn">Забыли пароль?</button>
    </div>
  </div>
  <!--<div class="form_wrapper_btn_group">-->
    <!--<button class="form_wrapper_btn_group_main_btn">Зарегистрироваться</button>-->
    <!--<button class="form_wrapper_btn_group_sub_btn">Пропустить</button>-->
  <!--</div>-->
  <div class="form_wrapper_close"></div>
</div>