<div class="about_container">
  <div class="about_container_nav">
    <div class="about_container_nav_item" [class.active]="type_content['history']==false" (click)="showContent('history')">
      <div class="about_container_nav_item_text">История заказов</div>
      <div class="about_container_nav_item_icon">&rsaquo;</div>
    </div>
    <div class="about_container_nav_item" [class.active]="type_content['data']==false" (click)="showContent('data')">
      <div class="about_container_nav_item_text">Персональные данные</div>
      <div class="about_container_nav_item_icon">&rsaquo;</div>
    </div>
    <div class="about_container_nav_item" [class.active]="type_content['address']==false" (click)="showContent('address')">
      <div class="about_container_nav_item_text">Адреса</div>
      <div class="about_container_nav_item_icon">&rsaquo;</div>
    </div>
  </div>
  <app-history [hidden]="type_content['history']"></app-history>
  <app-data [hidden]="type_content['data']"></app-data>
  <app-adress [hidden]="type_content['address']"></app-adress>
</div>
