<div class="menu-tabs_all_search" *ngIf="hidden">
  <input placeholder="Поиск">
  <div class="menu-tabs_all_search_img"></div>

  <div class="menu-tabs_all_search_result">
    <div class="menu-tabs_all_search_result_restaurants">
      <div class="menu-tabs_all_search_result_restaurants_title">Рестораны</div>
      <div class="menu-tabs_all_search_result_restaurants_items_item">
        <div class="menu-tabs_all_search_result_restaurants_items_item_content">
          <div class="menu-tabs_all_search_result_restaurants_items_item_content_name">Проект 24</div>
          <!--<div class="menu-tabs_all_search_result_restaurants_items_item_content_time"></div>-->
        </div>
        <div class="menu-tabs_all_search_result_restaurants_items_item_content-kitchen">
          <div class="menu-tabs_all_search_result_restaurants_items_item_content-kitchen_item">Европейская</div>
          <div class="menu-tabs_all_search_result_restaurants_items_item_content-kitchen_delimiter"></div>
          <div class="menu-tabs_all_search_result_restaurants_items_item_content-kitchen_item">Гриль</div>
          <div class="menu-tabs_all_search_result_restaurants_items_item_content-kitchen_delimiter"></div>
          <div class="menu-tabs_all_search_result_restaurants_items_item_content-kitchen_item">Сендвичи</div>
        </div>
      </div>
      <div class="menu-tabs_all_search_result_restaurants_items_item">
        <div class="menu-tabs_all_search_result_restaurants_items_item_content">
          <div class="menu-tabs_all_search_result_restaurants_items_item_content_name">Проект 24</div>
          <div class="menu-tabs_all_search_result_restaurants_items_item_content_time">15 мин</div>
        </div>
        <div class="menu-tabs_all_search_result_restaurants_items_item_content-kitchen">
          <div class="menu-tabs_all_search_result_restaurants_items_item_content-kitchen_item">Европейская</div>
          <div class="menu-tabs_all_search_result_restaurants_items_item_content-kitchen_delimiter"></div>
          <div class="menu-tabs_all_search_result_restaurants_items_item_content-kitchen_item">Гриль</div>
          <div class="menu-tabs_all_search_result_restaurants_items_item_content-kitchen_delimiter"></div>
          <div class="menu-tabs_all_search_result_restaurants_items_item_content-kitchen_item">Сендвичи</div>
        </div>
      </div>
      <div class="menu-tabs_all_search_result_restaurants_items_item">
        <div class="menu-tabs_all_search_result_restaurants_items_item_content">
          <div class="menu-tabs_all_search_result_restaurants_items_item_content_name">Проект 24</div>
          <div class="menu-tabs_all_search_result_restaurants_items_item_content_time">15 мин</div>
        </div>
        <div class="menu-tabs_all_search_result_restaurants_items_item_content-kitchen">
          <div class="menu-tabs_all_search_result_restaurants_items_item_content-kitchen_item">Европейская</div>
          <div class="menu-tabs_all_search_result_restaurants_items_item_content-kitchen_delimiter"></div>
          <div class="menu-tabs_all_search_result_restaurants_items_item_content-kitchen_item">Гриль</div>
          <div class="menu-tabs_all_search_result_restaurants_items_item_content-kitchen_delimiter"></div>
          <div class="menu-tabs_all_search_result_restaurants_items_item_content-kitchen_item">Сендвичи</div>
        </div>
      </div>
    </div>
    <div class="menu-tabs_all_search_result_dishes">
      <div class="menu-tabs_all_search_result_dishes_title">Блюда</div>
      <div class="menu-tabs_all_search_result_dishes_items_item">
        <div class="menu-tabs_all_search_result_dishes_items_item_content">
          <div class="menu-tabs_all_search_result_dishes_items_item_content_name">Проект 24</div>
        </div>
        <div class="menu-tabs_all_search_result_dishes_items_item_content-kitchen">
          <div class="menu-tabs_all_search_result_dishes_items_item_content-kitchen_item">460 гр</div>
          <div class="menu-tabs_all_search_result_dishes_items_item_content-kitchen_item">775 ккал</div>
          <div class="menu-tabs_all_search_result_dishes_items_item_content-kitchen_item">330 руб.</div>
        </div>
      </div>
      <div class="menu-tabs_all_search_result_dishes_items_item">
        <div class="menu-tabs_all_search_result_dishes_items_item_content">
          <div class="menu-tabs_all_search_result_dishes_items_item_content_name">Проект 24</div>
        </div>
        <div class="menu-tabs_all_search_result_dishes_items_item_content-kitchen">
          <div class="menu-tabs_all_search_result_dishes_items_item_content-kitchen_item">460 гр</div>
          <div class="menu-tabs_all_search_result_dishes_items_item_content-kitchen_item">775 ккал</div>
          <div class="menu-tabs_all_search_result_dishes_items_item_content-kitchen_item">330 руб.</div>
        </div>
      </div>
      <div class="menu-tabs_all_search_result_dishes_items_item">
        <div class="menu-tabs_all_search_result_dishes_items_item_content">
          <div class="menu-tabs_all_search_result_dishes_items_item_content_name">Проект 24</div>
        </div>
        <div class="menu-tabs_all_search_result_dishes_items_item_content-kitchen">
          <div class="menu-tabs_all_search_result_dishes_items_item_content-kitchen_item">460 гр</div>
          <div class="menu-tabs_all_search_result_dishes_items_item_content-kitchen_item">775 ккал</div>
          <div class="menu-tabs_all_search_result_dishes_items_item_content-kitchen_item">330 руб.</div>
        </div>
      </div>
    </div>
  </div>
</div>