<div class="content_events_items_item">
  <div class="content_events_items_item_img">
    <img src="app/sass/images/7.png">
  </div>
  <div class="content_events_items_item_content">
    <div class="content_events_items_item_content_name">Неделя итальянской еды</div>
    <div class="content_events_items_item_content_date">28 июня - 03 июля</div>
    <div class="content_events_items_item_content_text">Мероприятие длится один день
      и направлено на увеличение продаж среди
      владельцев карт.
    </div>
    <div class="content_events_items_item_content_time">Афиша</div>
  </div>
  <!--<div class="content_events_items_item_content-kitchen">-->
  <!--<div class="content_events_items_item_content-kitchen_item">Европейская</div>-->
  <!--<div class="content_events_items_item_content-kitchen_delimiter"></div>-->
  <!--<div class="content_events_items_item_content-kitchen_item">Гриль</div>-->
  <!--<div class="content_events_items_item_content-kitchen_delimiter"></div>-->
  <!--<div class="content_events_items_item_content-kitchen_item">Сендвичи</div>-->
  <!--</div>-->
</div>
