@import "../sass/sass/_variables";
@import "../sass/sass/_svg-sprite";
@import "../sass/sass/_png-sprite";

:host(.root) {
  outline: none;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

  @media screen and (max-width: 1024px) {
    //width: calc(100% - 40px);
    width: 100%;
    //padding: 0 20px;
    max-width: 380px;
    margin: 0 auto;
  }
}

.content_events_items_item {
  width: 380px;
  border: 1px solid #E6E3E1;
  background-color: #FFFFFF;
  margin: 30px 15px 0 0;
  cursor: pointer;

  @media screen and (max-width: 1024px) {
    width: 100%;
    margin-right: 0;
  }

  &_img {
    width: 380px;
    height: 213px;
    background-position: center;
    background-size: cover;
    img {
      width: 380px;
      height: 213px;

      @media screen and (max-width: 1024px) {
        width: 100%;
      }
    }

  }

  &_content {
    font-family: $font_ubuntu;
    padding: 15px 20px 10px;

    &_name {
      color: #231F20;
      font-size: 18px;
      line-height: 21px;
      @media screen and (max-width: 1024px) {
        font-size: 16px;
        line-height: 16px;
      }
    }
    &_date {
      color: #A67B2C;
      font-size: 16px;
      font-weight: 500;
      line-height: 16px;
      @media screen and (max-width: 1024px) {
        font-size: 11px;
        line-height: 11px;
        font-weight: normal;
        margin-top: 5px;
      }
    }
    &_text {
      color: #7F7873;
      font-size: 16px;
      line-height: 24px;
      padding: 10px 0;
      position: relative;
      max-height: 4em;
      overflow: hidden;
      //overflow: hidden;
      //display: -webkit-box;
      //-webkit-line-clamp: 3;
      //-webkit-box-orient: vertical;
      @media screen and (max-width: 1024px) {
        font-size: 13px;
        line-height: 20px;
        font-weight: normal;
      }
      &::before {
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
      }
      &::after {
        content: '';
        position: absolute;
        right: 0;
        width: 1em;
        height:1em;
        margin-top: 0.2em;
        background: white;
      }
    }
    &_time {
      color: #867F7B;
      font-size: 13px;
      line-height: 13px;
      padding: 4px 7px;;
      border-radius: 2px;
      background-color: #F7F6F2;
      display: inline-block;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
      margin-bottom: 10px;

      @media screen and (max-width: 1024px) {
        text-transform: uppercase;
        font-size: 11px;
        line-height: 11px;
      }
    }
    &-kitchen {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      color: #7F7873;
      font-size: 13px;
      line-height: 13px;
      padding: 10px 133px 20px 20px;
      align-items: center;

      &_item {

      }
      &_delimiter {
        @include sp__rectangle;
      }
    }
  }
}