<div class="main">
  <div class="content_menu">
    <div class="content_menu_about">
      <!--<span class="content_menu_about_logo-text">Вокруг света</span>-->
      <!--<div class="content_menu_about_text"><span>Гастромаркет</span></div>-->
    </div>
    <div class="content_menu_other">
      <div class="content_menu_other_item">Корнеры</div>
      <div class="content_menu_other_item">События</div>
      <div class="content_menu_other_item">О проекте</div>
      <div class="content_menu_other_item">
        <app-search-block #input1 [clicker]="b1"></app-search-block>
        <div #b1 class="content_menu_other_search" (click)="input1.Toggle(b1)" ></div>
      </div>
      <div class="content_menu_other_personality"></div>
      <div class="content_menu_other_basket"></div>
    </div>
  </div>
</div>
