<div class="content_corners_items_item-shadow">
  <div class="content_corners_items_item-shadow_img">
    <img class="content_corners_items_item-shadow_img_main" src="app/sass/images/6.png">
  </div>
  <div class="content_corners_items_item-shadow-hover">
    <div class="content_corners_items_item-shadow-hover_main">
      <div class="content_corners_items_item-shadow-hover_main_text">
        Мы дарим всем гостям 10% скидку на меню а-ля-карт в ресторане за чекин
      </div>
      <div class="content_corners_items_item-shadow-hover_main_checkin">
        <div class="content_corners_items_item-shadow-hover_main_checkin_item"><span>РОКЕ</span></div>
        <div class="content_corners_items_item-shadow-hover_main_checkin_item"><span>Mama-mia</span></div>
        <div class="content_corners_items_item-shadow-hover_main_checkin_item"><span>How to green</span></div>
        <div class="content_corners_items_item-shadow-hover_main_checkin_item"><span>Батуми</span></div>
      </div>
    </div>
  </div>

</div>