<div class="order-container_wrapper_form_group_item">
  <div class="order-container_wrapper_form_group_item_name">
    <div class="order-container_wrapper_form_group_item_name_title-logged">
      <div class="order-container_wrapper_form_group_item_name_title-logged_name">Дмитрий Иванов
      </div>
      <div class="order-container_wrapper_form_group_item_name_title-logged_logout">Выйти</div>
    </div>
  </div>
</div>
<div class="order-container_wrapper_form_group_item">
  <div class="order-container_wrapper_form_group_item_label">Email</div>
  <div class="order-container_wrapper_form_group_item_input">
    <input type="email" value="user_email@gmail.com">
  </div>
</div>
<div class="order-container_wrapper_form_group_item">
  <div class="order-container_wrapper_form_group_item_label">Мобильный номер</div>
  <div class="order-container_wrapper_form_group_item_input">
    <input type="text" value="+7(495)123-45-67">
  </div>
</div>
<div class="order-container_wrapper_form_group_item">
  <div class="order-container_wrapper_form_group_item_add-phone">
    <div class="order-container_wrapper_form_group_item_add-phone_plus">+</div>
    <div class="order-container_wrapper_form_group_item_add-phone_text">Добавить новый тел. номер
    </div>
  </div>
</div>

<!--<div class="order-container_wrapper_form_group">-->
  <div class="order-container_wrapper_form_group_item">
    <div class="order-container_wrapper_form_group_item_addresses">
      <div class="order-container_wrapper_form_group_item_addresses_item">
        <input id="address_1" type="checkbox">
        <label for="address_1"></label>
        <div class="order-container_wrapper_form_group_item_addresses_item_text">ул. Научная 22
        </div>
        <div class="order-container_wrapper_form_group_item_addresses_item_text">квартира 81,
          подъезд 2, этаж 9
        </div>
      </div>
      <div class="order-container_wrapper_form_group_item_addresses_item">
        <input type="checkbox" id="address_2">
        <label for="address_2"></label>
        <div class="order-container_wrapper_form_group_item_addresses_item_text">ул. Научная 22
        </div>
        <div class="order-container_wrapper_form_group_item_addresses_item_text">квартира 81,
          подъезд 2, этаж 9
        </div>
      </div>
      <div class="order-container_wrapper_form_group_item_addresses_add-new">
        <div class="order-container_wrapper_form_group_item_addresses_add-new_plus">+</div>
        <div class="order-container_wrapper_form_group_item_addresses_add-new_text">Добавить новый
          адрес
        </div>
      </div>
    </div>
  </div>
<!--</div>-->
