<div class="order-container">
    <div class="order-container_wrapper">
        <div class="order-container_wrapper_title">Оформление заказа</div>
        <form class="order-container_wrapper_form">
            <div class="order-container_wrapper_form_switch">
                <div class="order-container_wrapper_form_switch_item active">Доставка</div>
                <div class="order-container_wrapper_form_switch_item">Самовынос</div>
            </div>
            <div class="order-container_wrapper_form_group">
                <div class="order-container_wrapper_form_group_wrapper">
                    <div class="order-container_wrapper_form_group_item">
                        <div class="order-container_wrapper_form_group_item_label">Время доставки</div>
                        <div class="order-container_wrapper_form_group_item_input">
                            <div class="order-container_wrapper_form_group_item_input_day">
                                <select id='day' class="order-container_wrapper_form_group_item_input_day_select">
                                    <option>Сегодня</option>
                                    <option>Завтра</option>
                                    <option>Послезавтра</option>
                                </select>
                                <div class="order-container_wrapper_form_group_item_input_arrow">&rsaquo;</div>
                            </div>
                            <div class="order-container_wrapper_form_group_item_input_hour">
                                <select id='hour' class="order-container_wrapper_form_group_item_input_hour_select">
                                    <option>09</option>
                                    <option>10</option>
                                    <option>11</option>
                                </select>
                                <div class="order-container_wrapper_form_group_item_input_arrow">&rsaquo;</div>
                            </div>
                            <div class="order-container_wrapper_form_group_item_input_minute">
                                <select id='minute' class="order-container_wrapper_form_group_item_input_minute_select">
                                    <option>00</option>
                                    <option>15</option>
                                    <option>30</option>
                                </select>
                                <div class="order-container_wrapper_form_group_item_input_arrow">&rsaquo;</div>
                            </div>
                        </div>
                    </div>
                    <div class="order-container_wrapper_form_group_item">
                        <div class="order-container_wrapper_form_group_item_label">Количество человек</div>
                        <div class="order-container_wrapper_form_group_item_input">
                            <div class="order-container_wrapper_form_group_item_input_people">
                                <div class="order-container_wrapper_form_group_item_input_people_button">-</div>
                                <input type="text" value="1">
                                <div class="order-container_wrapper_form_group_item_input_people_button">+</div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="order-container_wrapper_form_group">
                <div class="order-container_wrapper_form_switch">
                    <div class="order-container_wrapper_form_switch_item active">Новый покупатель</div>
                    <div class="order-container_wrapper_form_switch_item">Постоянный клиент</div>
                </div>
                    <div class="order-container_wrapper_form_group_item">
                        <div class="order-container_wrapper_form_group_item_name">
                            <div class="order-container_wrapper_form_group_item_name_title-logged">
                                <div class="order-container_wrapper_form_group_item_name_title-logged_name">Дмитрий
                                    Иванов
                                </div>
                                <div class="order-container_wrapper_form_group_item_name_title-logged_logout">Выйти
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="order-container_wrapper_form_group_item">
                        <div class="order-container_wrapper_form_group_item_not-logged-title">
                            Войдите в свой аккаунт
                        </div>
                    </div>
                    <div class="order-container_wrapper_form_group_item">
                        <div class="order-container_wrapper_form_group_item_label">Имя</div>
                        <div class="order-container_wrapper_form_group_item_input">
                            <input type="text" placeholder="Как к вам обращаться?">
                        </div>
                    </div>
                    <div class="order-container_wrapper_form_group_item">
                        <div class="order-container_wrapper_form_group_item_label">Email</div>
                        <div class="order-container_wrapper_form_group_item_input">
                            <input type="email" placeholder="user_email@gmail.com">
                        </div>
                    </div>
                    <div class="order-container_wrapper_form_group_item">
                        <div class="order-container_wrapper_form_group_item_label">Пароль</div>
                        <div class="order-container_wrapper_form_group_item_input">
                            <input type="password" placeholder="12345678">
                        </div>
                    </div>
                    <div class="order-container_wrapper_form_group_item">
                        <div class="order-container_wrapper_form_group_item_label">Мобильный номер</div>
                        <div class="order-container_wrapper_form_group_item_input">
                            <input type="text" placeholder="+7(495)123-45-67">
                        </div>
                    </div>


                    <div class="order-container_wrapper_form_group_item">
                        <div class="order-container_wrapper_form_group_item_add-phone">
                            <div class="order-container_wrapper_form_group_item_add-phone_plus">+</div>
                            <div class="order-container_wrapper_form_group_item_add-phone_text">Добавить новый тел.
                                номер
                            </div>
                        </div>
                    </div>
                    <div class="order-container_wrapper_form_group_item">
                        <div class="order-container_wrapper_form_group_item_add-phone-description">
                            <div class="order-container_wrapper_form_group_item_add-phone-description_lock"></div>
                            <div class="order-container_wrapper_form_group_item_add-phone-description_text">Для СМС с
                                подтверждением заказа. Никакого спама!
                            </div>
                        </div>
                    </div>
                    <div class="order-container_wrapper_form_group_item">
                        <div class="order-container_wrapper_form_group_item_submit">
                            <button class="order-container_wrapper_form_group_item_submit_button" type="submit">
                                Войти
                            </button>
                        </div>
                    </div>

            </div>
            <div class="order-container_wrapper_form_group">

                    <div class="order-container_wrapper_form_group_item">
                        <div class="order-container_wrapper_form_group_item_addresses">
                            <div class="order-container_wrapper_form_group_item_addresses_item">
                                <input type="checkbox">
                                <div class="order-container_wrapper_form_group_item_addresses_item_text desktop">ул. Научная 22
                                </div>
                                <div class="order-container_wrapper_form_group_item_addresses_item_text desktop">квартира 81,
                                    подъезд 2, этаж 9
                                </div>
                                <div class="order-container_wrapper_form_group_item_addresses_item_text mobile">ул. Научная, д.51, кв. 70
                                </div>
                            </div>
                            <div class="order-container_wrapper_form_group_item_addresses_item">
                                <input type="checkbox">
                                <div class="order-container_wrapper_form_group_item_addresses_item_text desktop">ул. Научная 22
                                </div>
                                <div class="order-container_wrapper_form_group_item_addresses_item_text desktop">квартира 81,
                                    подъезд 2, этаж 9
                                </div>
                                <div class="order-container_wrapper_form_group_item_addresses_item_text mobile">ул. Научная, д.51, кв. 70
                                </div>
                            </div>
                            <div class="order-container_wrapper_form_group_item_addresses_add-new">
                                <div class="order-container_wrapper_form_group_item_addresses_add-new_plus">+</div>
                                <div class="order-container_wrapper_form_group_item_addresses_add-new_text">Добавить
                                    новый
                                    адрес
                                </div>
                            </div>
                        </div>
                    </div>

            </div>

            <div class="order-container_wrapper_form_group">
                    <div class="order-container_wrapper_form_group_item">
                        <div class="order-container_wrapper_form_group_item_label">Адрес, улица</div>
                        <div class="order-container_wrapper_form_group_item_input">
                            <input type="text" placeholder="Введите адрес или выберите на карте">
                        </div>
                    </div>
                    <div class="order-container_wrapper_form_group_item_building-group">
                        <div class="order-container_wrapper_form_group_item_building-group_item">
                            <div class="order-container_wrapper_form_group_item">
                                <div class="order-container_wrapper_form_group_item_label">Дом</div>
                                <div class="order-container_wrapper_form_group_item_input">
                                    <input type="text" placeholder="Номер">
                                </div>
                            </div>
                            <div class="order-container_wrapper_form_group_item">
                                <div class="order-container_wrapper_form_group_item_label">Квартира/Офис</div>
                                <div class="order-container_wrapper_form_group_item_input">
                                    <input type="text" placeholder="Номер">
                                </div>
                            </div>
                            <div class="order-container_wrapper_form_group_item">
                                <div class="order-container_wrapper_form_group_item_label">Этаж</div>
                                <div class="order-container_wrapper_form_group_item_input">
                                    <input type="text" placeholder="Номер">
                                </div>
                            </div>
                        </div>
                        <div class="order-container_wrapper_form_group_item_building-group_item">
                            <div class="order-container_wrapper_form_group_item">
                                <div class="order-container_wrapper_form_group_item_label">Квартира</div>
                                <div class="order-container_wrapper_form_group_item_input">
                                    <input type="text" placeholder="Номер">
                                </div>
                            </div>
                            <div class="order-container_wrapper_form_group_item">
                                <div class="order-container_wrapper_form_group_item_label">Подъезд</div>
                                <div class="order-container_wrapper_form_group_item_input">
                                    <input type="text" placeholder="Номер">
                                </div>
                            </div>
                            <div class="order-container_wrapper_form_group_item">
                                <div class="order-container_wrapper_form_group_item_label">Код домофона</div>
                                <div class="order-container_wrapper_form_group_item_input">
                                    <input type="text" placeholder="Номер">
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="order-container_wrapper_form_group">

                    <div class="order-container_wrapper_form_group_item">
                        <div class="order-container_wrapper_form_group_item_payment-title">Выберите способо оплаты</div>
                    </div>
                    <div class="order-container_wrapper_form_group_item">
                        <div class="order-container_wrapper_form_group_item_payments">
                            <div class="order-container_wrapper_form_group_item_payments_item active">
                                <div class="order-container_wrapper_form_group_item_payments_item_text">
                                    <div class="order-container_wrapper_form_group_item_payments_item_text_desktop">Наличными курьеру</div>
                                    <div class="order-container_wrapper_form_group_item_payments_item_text_mobile">Наличными</div>

                                </div>
                            </div>
                            <div class="order-container_wrapper_form_group_item_payments_item">
                                <div class="order-container_wrapper_form_group_item_payments_item_visa"></div>
                                <div class="order-container_wrapper_form_group_item_payments_item_mcard"></div>
                            </div>
                        </div>
                    </div>
                    <div class="order-container_wrapper_form_group_item active-item">
                        <div class="order-container_wrapper_form_group_item_pay-by-points">
                            <div class="order-container_wrapper_form_group_item_pay-by-points_check">
                                <input type="checkbox">
                                <div class="order-container_wrapper_form_group_item_pay-by-points_check_text">
                                    Оплатить заказ баллами?
                                </div>
                                <div class="order-container_wrapper_form_group_item_pay-by-points_check_text">
                                    На счету <span>1404 баллов</span>
                                </div>

                            </div>
                            <div class="order-container_wrapper_form_group_item_pay-by-points_block">
                                <div class="order-container_wrapper_form_group_item">
                                    <div class="order-container_wrapper_form_group_item_label desktop">Списать</div>
                                    <div class="order-container_wrapper_form_group_item_label mobile">Списать баллов</div>
                                    <div class="order-container_wrapper_form_group_item_input">
                                        <input type="text" placeholder="1404">
                                    </div>
                                    <div class="order-container_wrapper_form_group_item_postfix">Балла</div>
                                </div>
                                <div class="order-container_wrapper_form_group_item">
                                    <div class="order-container_wrapper_form_group_item_label desktop">и доплатить</div>
                                    <div class="order-container_wrapper_form_group_item_label mobile">Доплатить рублей</div>
                                    <div class="order-container_wrapper_form_group_item_input">
                                        <input type="text" placeholder="900">
                                    </div>
                                    <div class="order-container_wrapper_form_group_item_postfix">&#x20bd;</div>
                                </div>

                            </div>
                        </div>
                    </div>
            </div>
            <div class="order-container_wrapper_form_group">
                    <div class="order-container_wrapper_form_group_item comment">
                        <div class="order-container_wrapper_form_group_item_label">Комментарий к заказу</div>
                        <div class="order-container_wrapper_form_group_item_input">
                            <input type="text" value="" placeholder="Не обязательно">
                        </div>
                    </div>
            </div>

            <div class="order-container_wrapper_form_total">
                <div class="order-container_wrapper_form_total_sum">
                    <div class="order-container_wrapper_form_total_sum_title">Общая сумма</div>
                    <div class="order-container_wrapper_form_total_sum_items">
                        <div class="order-container_wrapper_form_total_sum_items_all">
                            <span class="sum">1200</span>
                            <span class="currency">&#x20bd;</span>
                        </div>
                        <div class="order-container_wrapper_form_total_sum_items_cash">
                            <span class="sum">900</span>
                            <span class="currency">&#x20bd;</span>
                        </div>
                        <div class="order-container_wrapper_form_total_sum_items_points"> + 704 баллов</div>
                    </div>
                </div>
                <div class="order-container_wrapper_form_total_submit">
                    Оплатить
                </div>
            </div>
        </form>
    </div>
</div>
