<app-submenu></app-submenu>
<div class="slider_wraper">
  <div class="slider">
    <owl-carousel [options]="{items: 4, dots: false,nav: true, navText: ['','']}" [carouselClasses]="['owl-theme', 'row', 'sliding']">
      <div class="item">
        <span class="item_text">Здоровое питание</span>
        <img src="app/sass/images/auto.jpg">

      </div>
      <div class="item">
        <span class="item_text">Азиатские прелести</span>
        <img src="app/sass/images/auto.jpg">
      </div>
      <div class="item">
        <span class="item_text">Паста и лапша</span>
        <img src="app/sass/images/auto.jpg">
      </div>
      <div class="item">
        <span class="item_text">Бургеры и пицца</span>
        <img src="app/sass/images/auto.jpg">
      </div>
      <div class="item">
        <span class="item_text">Здоровое питание</span>
        <img src="app/sass/images/auto.jpg">
      </div>
      <div class="item">
        <span class="item_text">Здоровое питание</span>
        <img src="app/sass/images/auto.jpg">
      </div>
      <div class="item">
        <span class="item_text">Здоровое питание</span>
        <img src="app/sass/images/auto.jpg">
      </div>
      <div class="item">
        <span class="item_text">Здоровое питание</span>
        <img src="app/sass/images/auto.jpg">
      </div>
    </owl-carousel>
  </div>
</div>
<div class="main_content">
  <div class="content_corners">
    <div class="content_corners_items">
      <app-restaurant-block></app-restaurant-block>
      <app-restaurant-block></app-restaurant-block>
      <app-restaurant-block></app-restaurant-block>
      <app-restaurant-block></app-restaurant-block>
      <app-restaurant-block></app-restaurant-block>
      <app-restaurant-block></app-restaurant-block>
    </div>
  </div>
</div>