<div class="about_container_content">
  <div class="about_container_content_vacancy-form">
    <div class="about_container_content_vacancy-form_header">Отправить резюме на вакансию</div>
    <div class="about_container_content_vacancy-form_text">
      Приглашаем вас присоединиться к
      нашей команде профессионалов. Не упускайте возможность достойно зарабатывать,
      повышая и развивая собственные знания и навыки в направлении недвижимости.
    </div>
    <form class="about_container_content_vacancy-form_form">
      <div class="about_container_content_vacancy-form_form_group">
        <label for="position" class="about_container_content_vacancy-form_form_group_label">Должность</label>
        <select id='position' class="about_container_content_vacancy-form_form_group_select">
          <option>Повар</option>
          <option>Пекарь</option>
          <option>Официант</option>
        </select>
        <div class="about_container_content_vacancy-form_form_group_arrow">&rsaquo;</div>
      </div>
      <div class="about_container_content_vacancy-form_form_group">
        <label for="name" class="about_container_content_vacancy-form_form_group_label">Имя</label>
        <input type="text" id="name" placeholder="Введите имя" class="about_container_content_vacancy-form_form_group_input">
      </div>
      <div class="about_container_content_vacancy-form_form_group">
        <label for="secondname" class="about_container_content_vacancy-form_form_group_label">Фамилия</label>
        <input type="text" id="secondname" placeholder="Введите фамилию" class="about_container_content_vacancy-form_form_group_input">
      </div>
      <div class="about_container_content_vacancy-form_form_group">
        <label for="email" class="about_container_content_vacancy-form_form_group_label">Email</label>
        <input type="text" id="email" placeholder="Введите email" class="about_container_content_vacancy-form_form_group_input">
      </div>
      <div class="about_container_content_vacancy-form_form_group">
        <label for="resume" id="for_resume" class="about_container_content_vacancy-form_form_group_label">Резюме</label>
        <label for="resume" id="for_resume_link" class="about_container_content_vacancy-form_form_group_label">Ссылка на резюме</label>

        <label for="resume" class="about_container_content_vacancy-form_form_group_resume-label">Прикрепить файл с резюме  (doc, txt, pdf)</label>
        <input type="file" id="resume" class="about_container_content_vacancy-form_form_group_inputfile" accept=".doc,.docx,.ppt,.txt,.pdf">
        <div class="about_container_content_vacancy-form_form_group_inputfile_icon"></div>
        <input type="text" id="resume_link" placeholder="" class="about_container_content_vacancy-form_form_group_input">

      </div>
      <div class="about_container_content_vacancy-form_form_group">
        <label for="comments" class="about_container_content_vacancy-form_form_group_label">Комментарии</label>
        <textarea id="comments" placeholder="Комментарии" class="about_container_content_vacancy-form_form_group_textarea"></textarea>
        <input type="text" id="comment_input" placeholder="" class="about_container_content_vacancy-form_form_group_input">
      </div>
      <div class="about_container_content_vacancy-form_form_group">
        <!--<label for="email" class="about_container_content_vacancy-form_form_group_label">Email</label>-->
        <button type="submit" id="submit" class="about_container_content_vacancy-form_form_group_submit">Сохранить изменения</button>
      </div>

    </form>

  </div>
</div>