@import "../sass/sass/_variables";
@import "../sass/sass/_svg-sprite";
@import "../sass/sass/_png-sprite";

:host(.root) {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  align-items: center;
  //justify-content: space-between;
  @media screen and (max-width: 768px) {
    width: 100%;
    max-width: 280px;
    flex-wrap: wrap;
  }

}

.content_corners_items_item_content {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: $font_ubuntu;
    @media screen and (max-width: 1024px) {
      padding: 10% 20px 10px;
    }
    &_name {
      color: #231F20;
      font-size: 18px;
      line-height: 21px;
    }
    &_pdf {
      margin-right: 20px;
      color: #7F7873;
      font-family: $font_ubuntu;
      font-size: 13px;
      font-weight: 500;
      line-height: 13px;
    }
    &_time {
      color: #867F7B;
      font-size: 13px;
      line-height: 13px;
      padding: 4px 7px;;
      border-radius: 2px;
      background-color: #F7F6F2;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    }
    &_find {
      margin-left: 20px;
      color: #7F7873;
      font-family: $font_ubuntu;
      font-size: 13px;
      font-weight: 500;
      line-height: 13px;
    }
    &-kitchen {
    display: flex;
    flex-direction: row;
    color: #7F7873;
    font-size: 13px;
    line-height: 13px;
      font-weight: 300;
    align-items: center;
    font-family: $font_ubuntu;
    @media screen and (max-width: 1024px) {
      //width: 195px;
      //font-size: 11px;
      //line-height: 11px;
    }
    &_item {
      margin-right: 8px;
      &:last-child {
        margin-right: 0;
      }
    }
    &_delimiter {
      @include sp__rectangle;
      margin-right: 8px;
    }
  }
}