<div class="wrapper">
  <div class="main">
    <div class="banner">
      <div [style.backgroundImage]="'url(' + img_url + ')'" class="banner_header">
        <div class="banner_text">{{img_title}}</div>
      </div>

      <!--<img src="{{img_url}}">-->
    </div>
    <div class="events_column">
      <div class="events_column_text">
                <span>
               {{main_text}}
                </span>
        <div class="events_column_text_collage">
          <div class="events_column_text_collage_item">
            <img src="app/sass/images/events_1.png" width="385" height="256">
          </div>
          <div class="events_column_text_collage_item">
            <img src="app/sass/images/events_2.png" width="170" height="256">
          </div>
          <div class="events_column_text_collage_item">
            <img src="app/sass/images/events_3.png" width="83" height="124.5">
            <img src="app/sass/images/events_4.png" width="83" height="124.5">
          </div>
        </div>

        <!--<div class="events_column_text_title">Истинно местная пища</div>-->

        <!--<span>Если вы хотите насладиться истинно гавайской пищей, то вместо дорогих ресторанов посетите местные закусочные. Одним из популярных гавайских блюд является «plate lunch» – бумажная тарелка, состоящая из трех отсеков, с жареной рыбой в кляре, немного мяса с соусом терияки, немного салата и подливки. На первый взгляд здесь нет ничего особенного, но на вкус это блюдо превосходно. Сочетание терияки и подливки на удивление вкусное, и вы обязательно попросите добавки. Другим популярным блюдом является пюре из клубней растения таро, которое обладает странным цветом – оно фиолетовое. Это не должно вас удивлять, поскольку фиолетовый – натуральный цвет клубней растения. Незатейливое, но вкусное блюдо, намного слаще обычного пюре из картофеля. И еще: отдыхая на Гавайях, не забудьте попробовать жареного поросенка!-->
                    <!--Поскольку кокосовые пальмы на Гавайях растут почти везде, то неудивительно, что сами кокосы (гавайское название – хаупиа (haupia)) часто используются в приготовлении различных видов продуктов: желатин, пудинги, пончики с кокосовой начинкой и многое другое. Вы можете употреблять кокосовое молоко в свежем виде или консервированном.-->
                    <!--Если вы следите за своим весом, то на Гавайях вы должны быть особенно осмотрительны: большинство блюд высококалорийны. Также много блюд с высоким содержанием крахмала.-->
                    <!--На Гавайях также много мест, где вы можете насладиться кухнями других стран (Китая, Японии и стран Европы).-->
                    <!--Все, что едят на островах, можно легко найти на суше и в воде вокруг островов. Поскольку Гавай – цепочка островов, то здесь много рыбных блюд. Не бойтесь пробовать блюда из рыб, названия которых вы не знаете (например, махи махи (mahi mahi), ахи (ahi) и опакапака (opakapaka)), они все приятны на вкус.-->
                    <!--</span>-->

        <div class="events_column_text_socials">

        </div>
      </div>
      <!--<div class="content_events">-->
        <!--<div class="content_events_title">Похожие события</div>-->
        <!--<div class="content_events_items">-->
         <!--<app-events-block></app-events-block>-->
         <!--<app-events-block></app-events-block>-->
        <!--</div>-->
      <!--</div>-->
    </div>
  </div>
</div>
