<div class="wrapper">
  <div class="main">
    <div class="banner">
      <div [style.backgroundImage]="'url(' + img_url + ')'" class="banner_header">
        <div class="banner_text">{{img_title}}</div>
      </div>
    </div>
    <div class="events_column">
      <div class="events_column_text">
        <span>{{main_text}}</span>
        <div class="events_column_text_collage">
          <div class="events_column_text_collage_item">
            <img src="app/sass/images/events_1.png" width="385" height="256">
          </div>
          <div class="events_column_text_collage_item">
            <img src="app/sass/images/events_2.png" width="170" height="256">
          </div>
          <div class="events_column_text_collage_item">
            <img src="app/sass/images/events_3.png" width="83" height="124.5">
            <img src="app/sass/images/events_4.png" width="83" height="124.5">
          </div>
        </div>
        <div class="events_column_text_socials"></div>
      </div>
    </div>
  </div>
</div>
