<div class="form_wrapper">
  <div class="form_wrapper_title">Остался последний шаг</div>
  <div class="form_wrapper_sub_title">Зарегистрируйтесь и заказывайте любимые блюда еще быстрее</div>
  <form>
    <div class="form_item">
      <label for="email">Email</label>
      <input id="email" type="text" placeholder="">
    </div>
    <div class="form_item">
      <label for="pass">Пароль</label>
      <input id="pass" type="password" placeholder="">
    </div>
    <div class="form_item">
      <label for="repeat">Подтверидите пароль</label>
      <input id="repeat" type="password" placeholder="">
    </div>
  </form>
  <div class="form_wrapper_btn_group">
    <button class="form_wrapper_btn_group_main_btn">Зарегистрироваться</button>
    <button class="form_wrapper_btn_group_sub_btn">Пропустить</button>
  </div>
  <div class="form_wrapper_close"></div>
</div>
