<div class="form_wrapper">
  <div class="form_wrapper_title">Восстановление пароля</div>
  <div class="form_wrapper_sub_title">Мы вышлем новый пароль на указанный email</div>
  <form>
    <div class="form_item">
      <label for="email">Email</label>
      <input id="email" type="text" placeholder="">
    </div>
  </form>
  <div class="form_wrapper_btn_group">
    <button class="form_wrapper_btn_group_main_btn">Напомнить пароль</button>
    <button class="form_wrapper_btn_group_sub_btn">Я вспомнил пароль</button>
  </div>
  <div class="form_wrapper_close"></div>
</div>
<app-password-send></app-password-send>
