<div class="form_wrapper" [hidden]="hidden">
  <div class="form_wrapper_title">Восстановление пароля</div>
  <div class="form_wrapper_sub_title">Мы вышлем новый пароль на указанный номер телефона</div>
  <form>
    <div class="form_item">
      <label for="phone">Номер телефона</label>
      <input [(ngModel)]="phone" [ngModelOptions]="{standalone: true}" id="phone" type="number" placeholder="">
    </div>
  </form>
  <div class="form_wrapper_btn_group">
    <button class="form_wrapper_btn_group_main_btn" (click)="remindPassword()">Напомнить пароль</button>
    <button class="form_wrapper_btn_group_sub_btn" (click)="back()">Я вспомнил пароль</button>
  </div>
  <div class="form_wrapper_close" (click)="closeForm()"></div>
</div>
<!--<app-password-send></app-password-send>-->
