<div class="about_container_content">
  <div class="about_container_content_table">
    <div class="about_container_content_table_header">Персональные данные</div>
    <div class="address">
      <div class="address_item" *ngFor="let item of client_adresses_arr">
        <div class="address_item_name">ул.{{item.StreetName}}</div>
        <div class="address_item_other">квартира {{item.Appartaments}}, подъезд {{item.Entry}}, этаж {{item.Floor}}</div>
        <div class="address_item_delete"><span></span></div>
      </div>
    </div>
    <div class="add_address_form">
      <div class="about_container_content_table_header-password">Добавить адреса</div>
      <form [formGroup]="form_adresses" novalidate>
        <div class="form_item">
          <label for="address">Адрес, улица</label>
          <input list="adresses" id="address" type="text" [(ngModel)]="name" [ngModelOptions]="{standalone: true}" (keypress)="GetStreetsId()" placeholder="Введите адрес или выберите на карте">
          <datalist id="adresses">
            <select>
              <option *ngFor="let item of adresses_arr" id="{{item.Id}}">{{item.Name}}</option>
            </select>
          </datalist>
        </div>
        <div class="form_item">
          <div class="form_item_separated">
            <div class="form_item_separated_right">
              <div class="form_item_separated_left">
                <label for="apartment">Квартира/Офис</label>
                <input id="apartment" formControlName="Appartaments" type="text" placeholder="Номер">
              </div>
              <div class="form_item_separated_right_item">
                <label for="entrance">Подьезд</label>
                <input id="entrance" formControlName="Entry" type="text" placeholder="Номер">
              </div>
            </div>
          </div>
        </div>
        <div class="form_item">
          <div class="form_item_separated">
            <div class="form_item_separated_right">
              <div class="form_item_separated_left">
                <label for="floor">Этаж</label>
                <input id="floor" formControlName="Floor" type="text" placeholder="Номер">
              </div>
              <div class="form_item_separated_right_item">
                <label for="doorphone_code">Код домофона</label>
                <input id="doorphone_code" formControlName="EntryCode" type="text" placeholder="Номер">
              </div>
            </div>
          </div>
        </div>
        <div class="form_item">
          <div class="form_item_separated">
            <div class="form_item_separated_right">
              <div class="form_item_separated_left">
                <label for="number_building">Номер дома</label>
                <input id="number_building" formControlName="Building" type="text" placeholder="Номер">
              </div>
              <div class="form_item_separated_right_item">
                <label for="building">Строение</label>
                <input id="building" formControlName="BuildingNumber" type="text" placeholder="Номер">
              </div>
            </div>
          </div>
        </div>
        <div class="form_item">
          <div class="form_item_separated">
            <div class="form_item_separated_right">
              <div class="form_item_separated_left">
                <label for="building_appartment">Корпус</label>
                <input id="building_appartment" formControlName="BuildingAppartment" type="text" placeholder="Номер">
              </div>
            </div>
          </div>
        </div>
      </form>
      <button type="submit" class="form_add_address" (click)="AddAdress()">Добавить адрес</button>
    </div>
  </div>
</div>