<div class="main">
  <div class="slider">
      <owl-carousel [options]="{items: 1, dots: false,nav: true, navText: ['','']}" [carouselClasses]="['owl-theme', 'row', 'sliding']">
        <div class="item"><img src="app/sass/images/slider-banner.png"></div>
        <div class="item"><img src="app/sass/images/slider-banner.png"></div>
        <div class="item"><img src="app/sass/images/slider-banner.png"></div>
        <div class="item"><img src="app/sass/images/slider-banner.png"></div>
      </owl-carousel>
  </div>
  <div class="slider-footer">
    <div class="slider-footer_delivery">
      <div class="slider-footer_delivery_main-text">Доставка</div>
      <div class="slider-footer_delivery_secondary-text">Заказывайте доставку из всех ресторанов маркета</div>
      <div class="slider-footer_delivery_moreinfo-text">
        <div class="slider-footer_delivery_moreinfo-text_left-dash"></div>
        <div class="slider-footer_delivery_moreinfo-text_text">Подробнее</div>
        <div class="slider-footer_delivery_moreinfo-text_right-dash"></div>
      </div>
      <div class="slider-footer_delivery_img">
        <img src="app/sass/images/meat.png">
      </div>
    </div>
    <div class="slider-footer_delivery">
      <div class="slider-footer_delivery_main-text">Предзаказ</div>
      <div class="slider-footer_delivery_secondary-text_preorder">Мы подготовим Ваш заказ пока Вы в пути</div>
      <div class="slider-footer_delivery_moreinfo-text">
        <div class="slider-footer_delivery_moreinfo-text_left-dash"></div>
        <div class="slider-footer_delivery_moreinfo-text_text">Подробнее</div>
        <div class="slider-footer_delivery_moreinfo-text_right-dash"></div>
      </div>
      <div class="slider-footer_delivery_img_right">
        <img src="app/sass/images/cacao.png">
      </div>
    </div>
    <div class="slider-footer_rectangle"></div>
  </div>
</div>
<app-menu-tabs-inside></app-menu-tabs-inside>
<div class="main_content">
  <div class="content_corners">
    <div class="content_corners_title">
      <div class="content_corners_title_text">Корнеры</div>
      <div class="content_corners_title_moreinfo-text-mobile">
        <div class="content_corners_title_moreinfo-text-mobile_text">смотреть все</div>
        <div class="content_corners_title_moreinfo-text-mobile_right-dash"></div>
      </div>

    </div>
    <!--<div class="content_corners_items">-->
      <app-restaurant-block [restaurants_list]="restaurant_list" [link]="'/restaurants-main/'"></app-restaurant-block>
      <!--<app-restaurant-block></app-restaurant-block>-->
      <!--<app-restaurant-block></app-restaurant-block>-->
      <!--<app-restaurant-block></app-restaurant-block>-->
      <!--<app-restaurant-block></app-restaurant-block>-->
      <!--<app-restaurant-block></app-restaurant-block>-->
    <!--</div>-->
    <div class="content_corners_moreinfo-text">
      <div class="content_corners_moreinfo-text_left-dash"></div>
      <div class="content_corners_moreinfo-text_text">Посмотреть все {{restaurant_list_length}} корнеров</div>
      <div class="content_corners_moreinfo-text_right-dash"></div>
    </div>
  </div>
</div>
<div class="main_content_events">
  <div class="content_events">
    <div class="content_events_title">События</div>
    <div class="content_events_items">
     <app-events-block [events_list]="events_list" [link]="'/event/'"></app-events-block>
     <!--<app-events-block routerLink="/event"></app-events-block>-->
     <!--<app-events-block routerLink="/event"></app-events-block>-->
    </div>
    <div class="content_events_moreinfo-text">
      <div class="content_events_moreinfo-text_left-dash"></div>
      <div class="content_events_moreinfo-text_text">Посмотреть события</div>
      <div class="content_events_moreinfo-text_right-dash"></div>
    </div>
  </div>
</div>
<div class="app_content">
  <div class="app_content_images">
    <div class="app_content_images_bg">
      <img src="app/sass/images/phones_bg.png" class="app_content_images_bg-desktop">
      <img src="app/sass/images/phones_bg_mobile.png" class="app_content_images_bg-mobile">
    </div>
    <div class="app_content_images_phones">
      <img src="app/sass/images/phones.png" class="app_content_images_phones-desktop">
      <img src="app/sass/images/phones_mobile.png" class="app_content_images_phones-mobile">
    </div>
  </div>
  <div class="app_content_text">
    <div class="app_content_text_main">
      Заказывайте еду с доставкой и делайте предзаказ
    </div>
    <div class="app_content_text_other">
      Cамым удобным способом -
      через мобильное приложение!
    </div>
    <div class="app_content_text_download">
      <div class="app_content_text_download_google"></div>
      <div class="app_content_text_download_apple"></div>
    </div>
    <div class="app_content_text_logo"></div>
    <div class="app_content_text_url">Отправить ссылку <a href="">сообщением</a> или на <a href="">email</a></div>
  </div>

</div>
<div class="about_content">
  <div class="about_content_title">О Гастромаркете Вокруг Света</div>
  <div class="about_content_footer-grey"></div>
  <div class="about_content_column-grey"></div>
  <div class="about_content_number-logo"></div>
  <div class="about_content_items">
    <div class="about_content_items_text">
      <div class="about_content_items_text_header">30 ресторанов и кафе Аркадия Новикова, Бориса Зарькова и
        Владимира Мухина.
      </div>
      <div class="about_content_items_text_mobile-img">
        <img src="app/sass/images/30eating-mobile.png">

      </div>
      <div class="about_content_items_text_description"><span>Гастромаркет Вокруг Света - это микс национальных культур,
                мнопродуктовых концепций, идей, вкусов,
                актуальных трендов с использованием сезонных и локальных продуктов от лучших шефов Москвы и мира.</span>
        <span>Этот проект беспрецедентная альтернатива традиционным фудкортам, место где гурманы найдут новые
                интересные сочетания вкусов, а туристы утолят голод в любопытство, открывая для себя новую Москву.</span>
      </div>
      <div class="about_content_items_text_moreinfo">
        <div class="about_content_items_text_moreinfo_left-dash">
        </div>
        <div class="about_content_items_text_moreinfo_text">Подробнее</div>
        <div class="about_content_items_text_moreinfo_right-dash"></div>
      </div>
    </div>
    <div class="about_content_items_img"></div>
  </div>
</div>
<app-instagram-content></app-instagram-content>
<div class="main">
  <div class="main_map" id="map">
    <div class="main_map_widget">
      <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
        <agm-marker [latitude]="lat" [longitude]="lng">
          <agm-snazzy-info-window [maxWidth]="200" [closeWhenOthersOpen]="true" [isOpen]="true">
            <ng-template>
              My first Snazzy Info Window!
            </ng-template>
          </agm-snazzy-info-window>
        </agm-marker>
      </agm-map>
    </div>
    <div class="main_map_buttons">
      <div class="main_map_buttons_button active"><div class="main_map_buttons_button_text">Зона доставки</div></div>
      <div class="main_map_buttons_button"><div class="main_map_buttons_button_text">Парковки</div></div>
      <div class="main_map_buttons_button"><div class="main_map_buttons_button_text">От метро</div></div>
      <div class="main_map_buttons_button"><div class="main_map_buttons_button_text">Схема зала</div></div>
    </div>
  </div>
</div>