@import "../sass/sass/_variables";
@import "../sass/sass/_svg-sprite";
@import "../sass/sass/_png-sprite";

agm-map {
  height: 500px;
}

.scheme {
  height: 500px;
  text-align: center;
  overflow: hidden;
  position: relative;
  div {
    background: url("../sass/images/scheme.jpg");
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: transform .5s ease-out;
  }
  img {
    max-width: 100%;
    max-height: 100%;
  }
}
.main_map_buttons_metro_button_back {
  display: none;
  @include sp__arrow-left;
  @media screen and (max-width: 1024px) {
    display: block;
    margin: 10px 0 0 10px;
  }
}
