<div class="order-container">
  <div class="order-container_wrapper">
    <div class="order-container_wrapper_title">Корзина</div>

    <div class="dishes_content_menu_bucket">
      <div class="dishes_content_menu_bucket_items">
        <div class="dishes_content_menu_bucket_items_item">
          <div class="dishes_content_menu_bucket_items_item_title">Сендвич с курицей</div>
          <div class="dishes_content_menu_bucket_items_item_content">
            <div class="dishes_content_menu_bucket_items_item_content_count">
              <div class="dishes_content_menu_bucket_items_item_content_count_remove"></div>
              <div class="dishes_content_menu_bucket_items_item_content_count_text"><span>1</span>шт</div>
              <div class="dishes_content_menu_bucket_items_item_content_count_add"></div>
            </div>
            <div class="dishes_content_menu_bucket_items_item_content_price"><span>395 руб.</span></div>
          </div>
        </div>
        <div class="dishes_content_menu_bucket_items_item">
          <div class="dishes_content_menu_bucket_items_item_title">Сендвич с курицей</div>
          <div class="dishes_content_menu_bucket_items_item_content">
            <div class="dishes_content_menu_bucket_items_item_content_count">
              <div class="dishes_content_menu_bucket_items_item_content_count_remove"></div>
              <div class="dishes_content_menu_bucket_items_item_content_count_text"><span>1</span>шт</div>
              <div class="dishes_content_menu_bucket_items_item_content_count_add"></div>
            </div>
            <div class="dishes_content_menu_bucket_items_item_content_price"><span>395 руб.</span></div>
          </div>
        </div>
        <div class="dishes_content_menu_bucket_items_item">
          <div class="dishes_content_menu_bucket_items_item_title">Сендвич с курицей Сендвич с курицей Сендвич с курицей</div>
          <div class="dishes_content_menu_bucket_items_item_content">
            <div class="dishes_content_menu_bucket_items_item_content_count">
              <div class="dishes_content_menu_bucket_items_item_content_count_remove"></div>
              <div class="dishes_content_menu_bucket_items_item_content_count_text"><span>1</span>шт</div>
              <div class="dishes_content_menu_bucket_items_item_content_count_add"></div>
            </div>
            <div class="dishes_content_menu_bucket_items_item_content_price"><span>395 руб.</span></div>
          </div>
        </div>
        <div class="dishes_content_menu_bucket_items_item">
          <div class="dishes_content_menu_bucket_items_item_title">Сендвич с курицей</div>
          <div class="dishes_content_menu_bucket_items_item_content">
            <div class="dishes_content_menu_bucket_items_item_content_count">
              <div class="dishes_content_menu_bucket_items_item_content_count_remove"></div>
              <div class="dishes_content_menu_bucket_items_item_content_count_text"><span>1</span>шт</div>
              <div class="dishes_content_menu_bucket_items_item_content_count_add"></div>
            </div>
            <div class="dishes_content_menu_bucket_items_item_content_price"><span>395 руб.</span></div>
          </div>
        </div>


      </div>
    </div>
    <div class="dishes_content_menu_bucket_total">
      <div class="dishes_content_menu_bucket_total_text_column">
        <div class="dishes_content_menu_bucket_total_text">Общая сумма</div>
        <div class="dishes_content_menu_bucket_total_price">1800руб.</div>
      </div>

      <div class="events_show-more">Оформить заказ</div>
    </div>

  </div>
</div>
